{% extends "layouts/base.html" %}

{% block content %}
    <section class="static-page">
        <div class="container">
            <div class="static-page__wrapper">
                <h1 class="static-page___head">О нас</h1>
                <div class="static-page__paragraph">
                    <div>
                        <p><span style="font-size:16px"><span style="color:#000000">Asaxiy.uz &mdash; одна из первых компаний в Узбекистане, работающих в форме электронной коммерции. Компания была основана в 2014 году Фирузом Аллаевым и Эльдором Гафуровым и на сегодняшний день насчитывает более 100 сотрудников, 8 офлайн-магазинов и 9 отделов, работающих в качестве партнеров.</span></span>
                        </p>

                        <p><span style="font-size:16px"><span style="color:#000000">Фируз Аллаев, один из основателей компании, продолжит обучение в магистратуре во Франции после получения степени бакалавра. Будущий покупатель, интересующийся фотографией, также заинтересуется деятельностью электронной коммерции в процессе определения цены на устройства в интернет-магазинах Франции и будет внимательно изучать. Это будет иметь значение в дальнейшем при основании компании Asaxiy.uz.</span></span>
                        </p>

                        <p><span style="font-size:16px"><span style="color:#000000">Происхождение названия &laquo;Asaxiy&raquo; связано с названиями крупнейшего в мире интернет-магазина &laquo;Amazon&raquo; и крупнейшего рынка Узбекистана &laquo;Abu-Saxiy&raquo;.</span></span>
                        </p>

                        <p><span style="font-size:16px"><span style="color:#000000">У этой компании, начавшей с 400 долларов США, через год появилась собственная страница электронной коммерции. Компания, которая в процессе своей деятельности испытывала различные трудности, за время своего развития дважды оказывалась на грани серьезного финансового кризиса. После этого будет пересмотрена стратегия компании и поэтапно автоматизирована система.</span></span>
                        </p>

                        <p><strong><span style="font-size:16px"><span style="color:#000000">У компании есть 3 основные ценности, которые заключаются в следующем:</span></span></strong>
                        </p>

                        <p><span style="font-size:16px"><span style="color:#000000">1. Воздействовать на образ мыслей людей и повышать грамотность населения через социальные проекты, хорошую систему обслуживания, издание книг;<br/>
2. Улучшение быта за счет доставки товара в любую точку Узбекистана;<br/>
3. Вселять уверенность в завтрашнем дне, показывая пример того, что дети из отдаленных районов и семей с ограниченными возможностями могут начать собственное дело и добиться успеха благодаря образованию.</span></span>
                        </p>

                        <p><span style="font-size:16px"><span style="color:#000000">В отличие от &laquo;Amazon&raquo;, которая изначально начинала свою деятельность с книжного бизнеса, а затем расширилась и на другие отрасли, &laquo;Asaxiy&raquo; начал свою деятельность с продажи оборудования, и к 2019 году, после 5 лет деятельности, проект &laquo;Asaxiy Books&raquo; был основан. После этого проекта узнаваемость бренда Asaxiy также значительно возросла.</span></span>
                        </p>

                        <p><strong><span style="font-size:16px"><span style="color:#000000">Миссия &laquo;Asaxiy Books&raquo; заключается в реализации следующих 5 шагов:</span></span></strong>
                        </p>

                        <p><span style="font-size:16px"><span style="color:#000000">1. Запустить продажу книг через Интернет, осуществить доставку в отдаленные районы по всей Республике;<br/>
2. Перевести самые сильные произведения мировой литературы на узбекский язык и представить их местным читателям;<br/>
3. Расширение рынка за счет продажи электронных книг;<br/>
4. Налаживание и развитие продажи аудиокниг<br/>
5. Открытие новых имен в узбекской литературе</span></span></p>

                        <p><span style="font-size:16px"><span style="color:#000000">В интернет-магазине Asaxiy.uz также есть проекты под названием &laquo;Asaxiy Woman&raquo; и &laquo;Asaxiy Murobaha&raquo;. Asaxiy Woman &mdash; женский проект по продаже посуды, косметики и других товаров, которыми женщины пользуются в повседневной жизни. Проект был создан в 2021 году и работает до сих пор.</span></span>
                        </p>

                        <p><span style="font-size:16px"><span style="color:#000000">Проект Asaxiy Murobaha, запущенный в том же году, что и проект Asaxiy Woman, позволяет покупателям приобретать товары на сайте Asaxiy.uz в рассрочку.</span></span>
                        </p>

                        <p><span style="font-size:16px"><span style="color:#000000">Ежегодно компания обслуживает сотни тысяч клиентов. Кроме того, он несколько раз был отмечен правительством за свою деятельность в нашей стране. Среди них можно выделить премию &laquo;Tahsin&raquo;, медаль &laquo;Kelajak bunyodkori&raquo;, присужденную писателю Джавлону Джовлиеву, знак &laquo;Mustaqillikning 30 yilligi&raquo; и медаль &laquo;Shuhrat&raquo;, присужденную основателям проекта.</span></span>
                        </p>
                        <br/>
                        <span style="font-size:16px">ООО ​&quot;Asaxiy Books&quot;<br/>
Регистрация : 646439<br/>
ИНН: 305829008<br/>
Директор: Allayev Firuz Abdunasimovich</span></div>

                    <div class="managers mt-5">
                        <h5 class="managers__title text-center">Топ менеджеры</h5>

                        <div class="managers__slider-wrapper">
                            <div class="managers__slider swiper-container">
                                <div class="swiper-wrapper">
                                    {% for manager in managers %}
                                        <div class="swiper-slide"
                                             onclick="location.href='{{ manager.url }}';"
                                             style="cursor:pointer;">
                                            <div class="manager text-center">
                                                <img class="manager__img mb-4 rounded-circle"
                                                     src="{{ manager.image.url }}" width="140"
                                                     height="140"
                                                     alt="leo">
                                                <div class="manager__info text-center">
                                                    <div class="manager__name mb-2">{{ manager.first_name }} {{ manager.last_name }}</div>
                                                    <div class="manager__position">{{ manager.job }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}


                                </div>
                            </div>
                            <div class="swiper-button-next bg-white rounded-circle"></div>
                            <div class="swiper-button-prev bg-white rounded-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}