{% extends "layouts/base.html" %}

{% block content %}

    <section class="static-page">
        <div class="container">
            <div class="static-page__wrapper">
                <h1 class="static-page___head">Оплата и доставка товара</h1>
                <div class="static-page__paragraph">
                    <p><span style="font-size:16px"><span style="color:#000000"><span
                            style="font-family:helvetica,arial,sans-serif">Заказы, оформленные через сайт Asaxiy.uz, доставляются по Узбекистану.</span><br/>
<br/>
<span style="font-size:22px"><strong>Служба доставки в Ташкенте осуществляется следующим образом:&nbsp;</strong></span></span></span>
                    </p>

                    <ol>
                        <li><span style="font-size:16px"><span style="color:#000000">Все заказы доставляются в течении 8-72&nbsp;часов в зависимости от типа продукта, наш курьер свяжется с вами до прибытия на адрес доставки. Если количество заказов увеличивается и наши курьеры опаздывают доставить товар, время доставки может быть увеличено. В этом случае наши операторы уведомят вас заранее.&nbsp;</span></span>
                        </li>
                        <li><span style="font-size:16px"><span style="color:#000000">Служба доставки работает ежедневно с 11:00 до 21:00.&nbsp;</span></span>
                        </li>
                        <li><span style="font-size:16px"><span style="color:#000000">При оформлении заказа покупатель выбирает удобное время доставки, но оно должно быть не менее 8 часов с момента оформления заказа.&nbsp;</span></span>
                        </li>
                        <li><span style="font-size:16px"><span style="color:#000000">Если заказ оформлен после 17:00, доставка может быть осуществлена на следующий день.&nbsp;</span></span>
                        </li>
                        <li><span style="color:#000000"><span style="font-size:16px">Стоимость доставки от 15 000 сум. Данные цены действительны при доставке заказа до подъезда вашего дома (или офиса).</span></span>
                        </li>
                        <li><span style="font-size:16px"><span style="color:#000000">При входе в квартиру и выходе с этажа:&nbsp;</span></span>
                        </li>
                    </ol>

                    <ul style="margin-left:40px">
                        <li><span style="font-size:16px"><span
                                style="color:#000000">Для малогабаритных товаров - <strong>бесплатно</strong>;&nbsp;</span></span>
                        </li>
                        <li><span style="font-size:16px"><span style="color:#000000">На крупногабаритный товар (холодильник, стиральная машина, газовая плита и т.д.) - </span><strong>От 25 000 сум в зависимости от размера товара.</strong></span>
                        </li>
                    </ul>

                    <p><span style="font-size:16px"><span style="color:#000000">&nbsp;<br/>
<span style="font-size:22px"><strong>Доставка в регионы осуществляется следующим образом:&nbsp;</strong></span></span></span>
                    </p>

                    <ol>
                        <li><span style="font-size:16px"><span style="color:#000000">Доставка в регионы осуществляется курьерскими службами.&nbsp;</span></span>
                        </li>
                        <li><span style="font-size:16px"><span style="color:#000000">Доставка в областные центры осуществляется за 2&nbsp;рабочих дня, а в районы за 5&nbsp;рабочих дня.&nbsp;</span></span>
                        </li>
                    </ol>

                    <p><span style="font-size:16px"><span style="color:#000000">&nbsp;<br/>
<span style="font-size:22px"><strong>Важно!&nbsp;</strong></span></span></span></p>

                    <ol>
                        <li><span style="font-size:16px"><span style="color:#000000">Все товары будут доставлены по адресу, указанному в заказе. Перед размещением заказа убедитесь, что адрес доставки и личная информация получателя введены правильно.&nbsp;</span></span>
                        </li>
                        <li><span style="font-size:16px"><span style="color:#000000">После доставки заказа курьер будет ждать вас 20 минут, если вы не сможете получить заказ в течении этого времени, мы будем вынуждены перенести доставку. В этом случае услуга повторной доставки будет платной.&nbsp;</span></span>
                        </li>
                        <li><span style="font-size:16px"><span style="color:#000000">Сроки доставки могут быть изменены без предварительного уведомления.&nbsp;</span></span>
                        </li>
                        <li><span style="font-size:16px"><span style="color:#000000">С учетом возможности форс-мажора при оформлении заказа в регион часть стоимости товара взимается на основании предоплаты.&nbsp;&nbsp;</span></span>
                        </li>
                        <li><span style="font-size:16px"><span style="color:#000000">Персонал службы доставки не является консультантом и не знаком с конфигурацией продукта. Вы можете задать менеджеру по продажам любые интересующие вас вопросы о приобретенном товаре.&nbsp;</span></span>
                        </li>
                        <li><span style="font-size:16px"><span style="color:#000000">После получения заказа, вы можете произвести оплату, убедившись, что товар не поврежден.&nbsp;</span></span>
                        </li>
                        <li><span style="font-size:16px"><span style="color:#000000">При получении заказа покупатель должен предъявить доставщику свой личный паспорт или удостоверение личности.&nbsp;</span></span>
                        </li>
                    </ol>

                    <p><br/>
                        <span style="font-size:16px"><span style="font-size:22px"><span style="color:#000000"><strong>Оплата доставленных заказов производится следующим образом:&nbsp;</strong></span></span></span>
                    </p>

                    <ol>
                        <li><span style="font-size:16px"><span style="color:#000000">Если платежи в регионы осуществляются заранее, то они осуществляются через приложения Click, PayMe, а если вы хотите оплатить после прихода заказа, то наличными.&nbsp;</span></span>
                        </li>
                        <li><span style="font-size:16px"><span style="color:#000000">Оплата наличными или банковской картой - после доставки заказа;&nbsp;<br/>
	Онлайн оплата производится через личный кабинет на сайте.</span></span></li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
{% endblock %}