{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
    <section class="mb-40">
        <div class="container">
            <h1 class="faq__title mb-3">Часто задаваемые вопросы</h1>
            <div class="row">
                <div class="col-lg-4 mb-4 mb-lg-0">
                    <div class="faq__aside">
                        <ul class="nav nav-tabs border-0 d-block" role="tablist">
                            <!--                        active class qo`shilishi kerak -->
                            <li role="presentation">
                                <a href="faq.html#" data-target="#f1" data-toggle="tab" role="tab"
                                   aria-selected="true"
                                   class="active">
                                    Отмена заказа и возврат товара </a>
                            </li>
                            <li role="presentation">
                                <a href="faq.html#" data-target="#f5" data-toggle="tab" role="tab"
                                   aria-selected="false"
                                   class="">
                                    Условия рассрочки </a>
                            </li>
                            <li role="presentation">
                                <a href="faq.html#" data-target="#f4" data-toggle="tab" role="tab"
                                   aria-selected="false"
                                   class="">
                                    Оплата и доставка товара </a>
                            </li>
                            <li role="presentation">
                                <a href="faq.html#" data-target="#f9" data-toggle="tab" role="tab"
                                   aria-selected="false"
                                   class="">
                                    Как сделать заказ? </a>
                            </li>
                            <li role="presentation">
                                <a href="faq.html#" data-target="#f11" data-toggle="tab" role="tab"
                                   aria-selected="false"
                                   class="">
                                    Активировать Промокод! </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-8">
                    <div class="tab-content">
                        <div id="f1" class="tab-pane fade show active"
                             role="tabpanel">
                            <div class="faq__content">
                                <div class="faq__content-title text-center mb-4">
                                    Отмена заказа и возврат товара
                                </div>
                                <p><span style="color:#000000"><strong><span style="font-size:20px">Вы можете отменить заказ в следующих случаях:</span></strong></span>
                                </p>

                                <p><span style="color:#000000"><span style="font-size:16px">1. До передачи заказа в службу доставки (узнать статус заказа можно в личном кабинете на нашем сайте через раздел &laquo;Заказы&raquo;);</span></span>
                                </p>

                                <p><span style="color:#000000"><span style="font-size:16px">2. При доставке другого товара вместо заказанного вами товара;</span></span>
                                </p>

                                <p><span style="color:#000000"><span style="font-size:16px">3. При запросе денег сверх оговоренной суммы при оформлении заказа.</span></span>
                                </p>

                                <p>&nbsp;</p>

                                <p><span style="color:#000000"><strong><span style="font-size:20px">Вы можете вернуть или обменять товар в следующих случаях:</span></strong></span>
                                </p>

                                <p><span style="color:#000000"><span style="font-size:16px">1. Если товар еще не использовался;</span></span>
                                </p>

                                <p><span style="color:#000000"><span style="font-size:16px">2. Если пломбировочные ярлыки товара целы;</span></span>
                                </p>

                                <p><span style="color:#000000"><span style="font-size:16px">3. При наличии чека или другого документа, подтверждающего покупку;</span></span>
                                </p>

                                <p><span style="color:#000000"><span style="font-size:16px">4. Если товар имеет производственный брак.</span></span>
                                </p>

                                <p><span style="color:#000000"><span style="font-size:16px">Если дефект товара можно исправить ремонтом, то его не заменят, а отремонтируют.</span></span>
                                </p>

                                <p>&nbsp;</p>

                                <p><span style="color:#000000"><strong><span style="font-size:20px">Для возврата товара необходимо сделать следующее:</span></strong></span>
                                </p>

                                <p><span style="color:#000000"><span style="font-size:16px">1. Позвоните +998 71 200 01 05 и объясните проблему оператору (Рабочее время 09:00-22:00)</span></span>
                                </p>

                                <p><span style="color:#000000"><span style="font-size:16px">2. Необходимо написать причину отмены заказа в телеграм-бот @asaxiybot. При наличии дефектов или повреждений товара необходимо прислать фото и видеодоказательства.</span></span>
                                </p>

                                <p><span style="color:#000000"><span style="font-size:16px">3. После выполнения этих шагов ваша заявка будет обработана в течение 10 рабочих дней, и ваш платеж (если таковой имелся) будет возвращен.</span></span>
                                </p>

                                <p>&nbsp;</p>

                                <p><span style="color:#000000"><span style="font-size:16px">Следует отметить, что некоторые товары не подлежат возврату по гигиеническим причинам. Кроме того, будут отклонены требования о компенсации или отмене для скоропортящихся или поврежденных по небрежности предметов.</span></span>
                                </p>
                            </div>
                        </div>
                        <div id="f5" class="tab-pane fade show "
                             role="tabpanel">
                            <div class="faq__content">
                                <div class="faq__content-title text-center mb-4">
                                    Условия рассрочки
                                </div>
                                <p><span style="font-size:20px"><strong>Как работает услуга рассрочки на сайте Asaxiy.uz?&nbsp;</strong></span><br/>
                                    <span style="font-size:14px">На сайте Asaxiy.uz Вы можете купить в рассрочку без первоначального взноса&nbsp;любые товары, их более 15 000 наименовании в течении&nbsp;6&nbsp;или 12 месяца. Для рассрочки минимальная сумма покупки должна быть 100 000 сум.&nbsp;&nbsp;</span><br/>
                                    <br/>
                                    <strong><span style="font-size:20px">Документы, которые понадобятся для покупки в рассрочку.</span></strong><br/>
                                    <span style="font-size:14px">Услуга рассрочки на нашем сайте </span>работает
                                    полностью в режиме онлайн<span style="font-size:14px">, то есть, осуществляется без лишних хлопот. Чтобы подать заявления на рассрочку понадобятся паспорт/ID карта.&nbsp;</span>Если
                                    вы абитуриент или студент, вы можете приобрести книги в рассрочку, оставив свой
                                    паспорт/<span style="font-size:14px">ID карту&nbsp;</span>и номера пластиковых карт.
                                </p>

                                <p><br/>
                                    <span style="font-size:20px"><strong>Как купить товар в рассрочку?</strong></span><br/>
                                    <span style="font-size:14px">Мы ценим время каждого нашего клиента и максимально упрощаем все процессы. Чтобы приобрести товар в рассрочку, Вам достаточно пройти всего лишь три этапа:&nbsp;</span>
                                </p>

                                <ol>
                                    <li><span style="font-size:14px">Выберите нужный товар на нашем сайте и нажмите на кнопку <strong>Приобрести в рассрочку</strong>.&nbsp;</span>
                                    </li>
                                    <li><span style="font-size:14px"><span style="font-size:14px">Выберите оптимальный для Вас срок и нажмите на кнопку <strong>Заказать</strong>.&nbsp;</span></span>
                                    </li>
                                    <li><span style="font-size:14px"><span style="font-size:14px"><span
                                            style="font-size:14px">В открытом новом окне введите всю необходимую информацию (ф<span
                                            style="font-size:14px">отографию паспорта/ID карты)</span></span></span></span>
                                    </li>
                                </ol>

                                <p><span style="font-size:20px"><strong>Чтобы весь процесс прошёл быстро и легко, важны следующие этапы:&nbsp;</strong></span><br/>
                                    <span style="font-size:14px">Чтобы проверить и анализировать Ваши данные, фотография Ваших документов должна быть качественной в лёгком формате чтения.&nbsp;<br/>
                                <br/>
                                <strong>Пример:&nbsp;</strong></span><br/>
                                    <br/>
                                    <img alt="" style="width: 99%; object-fit: inherit;"
                                         src="{% static "custom-assets/images/installment_faq.png" %}"/>
                                </p>

                                <p><span style="font-size:14px"><span style="font-size:16px"><strong>Если возникли дополнительные вопросы - обращайтесь на номер +998 71 200 01 05 или на Telegram-бот </strong></span></span><strong><span
                                        style="font-size:16px"><span style="font-family:raleway,sans-serif"><u><a
                                        href="https://t.me/asaxiy_rassrochka_bot"><span style="color:rgb(0, 0, 255)">@asaxiy_rassrochka_bot</span></a></u></span></span></strong><span
                                        style="font-size:14px"><span
                                        style="font-size:16px"><strong>.</strong></span></span></p>
                            </div>
                        </div>
                        <div id="f4" class="tab-pane fade show "
                             role="tabpanel">
                            <div class="faq__content">
                                <div class="faq__content-title text-center mb-4">
                                    Оплата и доставка товара
                                </div>
                                <p><span style="font-size:16px"><span style="color:#000000"><span
                                        style="font-family:helvetica,arial,sans-serif">Заказы, оформленные через сайт Asaxiy.uz, доставляются по Узбекистану.</span><br/>
<br/>
<span style="font-size:22px"><strong>Служба доставки в Ташкенте осуществляется следующим образом:&nbsp;</strong></span></span></span>
                                </p>

                                <ol>
                                    <li><span style="font-size:16px"><span style="color:#000000">Все заказы доставляются в течении 8-72&nbsp;часов в зависимости от типа продукта, наш курьер свяжется с вами до прибытия на адрес доставки. Если количество заказов увеличивается и наши курьеры опаздывают доставить товар, время доставки может быть увеличено. В этом случае наши операторы уведомят вас заранее.&nbsp;</span></span>
                                    </li>
                                    <li><span style="font-size:16px"><span style="color:#000000">Служба доставки работает ежедневно с 11:00 до 21:00.&nbsp;</span></span>
                                    </li>
                                    <li><span style="font-size:16px"><span style="color:#000000">При оформлении заказа покупатель выбирает удобное время доставки, но оно должно быть не менее 8 часов с момента оформления заказа.&nbsp;</span></span>
                                    </li>
                                    <li><span style="font-size:16px"><span style="color:#000000">Если заказ оформлен после 17:00, доставка может быть осуществлена на следующий день.&nbsp;</span></span>
                                    </li>
                                    <li><span style="color:#000000"><span style="font-size:16px">Стоимость доставки от 15 000 сум. Данные цены действительны при доставке заказа до подъезда вашего дома (или офиса).</span></span>
                                    </li>
                                    <li><span style="font-size:16px"><span style="color:#000000">При входе в квартиру и выходе с этажа:&nbsp;</span></span>
                                    </li>
                                </ol>

                                <ul style="margin-left:40px">
                                    <li><span style="font-size:16px"><span style="color:#000000">Для малогабаритных товаров - <strong>бесплатно</strong>;&nbsp;</span></span>
                                    </li>
                                    <li><span style="font-size:16px"><span style="color:#000000">На крупногабаритный товар (холодильник, стиральная машина, газовая плита и т.д.) - </span><strong>От 25 000 сум в зависимости от размера товара.</strong></span>
                                    </li>
                                </ul>

                                <p><span style="font-size:16px"><span style="color:#000000">&nbsp;<br/>
<span style="font-size:22px"><strong>Доставка в регионы осуществляется следующим образом:&nbsp;</strong></span></span></span>
                                </p>

                                <ol>
                                    <li><span style="font-size:16px"><span style="color:#000000">Доставка в регионы осуществляется курьерскими службами.&nbsp;</span></span>
                                    </li>
                                    <li><span style="font-size:16px"><span style="color:#000000">Доставка в областные центры осуществляется за 2&nbsp;рабочих дня, а в районы за 5&nbsp;рабочих дня.&nbsp;</span></span>
                                    </li>
                                </ol>

                                <p><span style="font-size:16px"><span style="color:#000000">&nbsp;<br/>
<span style="font-size:22px"><strong>Важно!&nbsp;</strong></span></span></span></p>

                                <ol>
                                    <li><span style="font-size:16px"><span style="color:#000000">Все товары будут доставлены по адресу, указанному в заказе. Перед размещением заказа убедитесь, что адрес доставки и личная информация получателя введены правильно.&nbsp;</span></span>
                                    </li>
                                    <li><span style="font-size:16px"><span style="color:#000000">После доставки заказа курьер будет ждать вас 20 минут, если вы не сможете получить заказ в течении этого времени, мы будем вынуждены перенести доставку. В этом случае услуга повторной доставки будет платной.&nbsp;</span></span>
                                    </li>
                                    <li><span style="font-size:16px"><span style="color:#000000">Сроки доставки могут быть изменены без предварительного уведомления.&nbsp;</span></span>
                                    </li>
                                    <li><span style="font-size:16px"><span style="color:#000000">С учетом возможности форс-мажора при оформлении заказа в регион часть стоимости товара взимается на основании предоплаты.&nbsp;&nbsp;</span></span>
                                    </li>
                                    <li><span style="font-size:16px"><span style="color:#000000">Персонал службы доставки не является консультантом и не знаком с конфигурацией продукта. Вы можете задать менеджеру по продажам любые интересующие вас вопросы о приобретенном товаре.&nbsp;</span></span>
                                    </li>
                                    <li><span style="font-size:16px"><span style="color:#000000">После получения заказа, вы можете произвести оплату, убедившись, что товар не поврежден.&nbsp;</span></span>
                                    </li>
                                    <li><span style="font-size:16px"><span style="color:#000000">При получении заказа покупатель должен предъявить доставщику свой личный паспорт или удостоверение личности.&nbsp;</span></span>
                                    </li>
                                </ol>

                                <p><br/>
                                    <span style="font-size:16px"><span style="font-size:22px"><span
                                            style="color:#000000"><strong>Оплата доставленных заказов производится следующим образом:&nbsp;</strong></span></span></span>
                                </p>

                                <ol>
                                    <li><span style="font-size:16px"><span style="color:#000000">Если платежи в регионы осуществляются заранее, то они осуществляются через приложения Click, PayMe, а если вы хотите оплатить после прихода заказа, то наличными.&nbsp;</span></span>
                                    </li>
                                    <li><span style="font-size:16px"><span style="color:#000000">Оплата наличными или банковской картой - после доставки заказа;&nbsp;<br/>
	Онлайн оплата производится через личный кабинет на сайте.</span></span></li>
                                </ol>
                            </div>
                        </div>
                        <div id="f9" class="tab-pane fade show "
                             role="tabpanel">
                            <div class="faq__content">
                                <div class="faq__content-title text-center mb-4">
                                    Как сделать заказ?
                                </div>
                                <p><span style="color:#000000"><span style="font-size:16px">Заказать через сайт Asaxiy.uz очень просто. О том, как это сделать, мы расскажем ниже.</span></span>
                                </p>

                                <p><span style="color:#000000"><em><span style="font-size:16px">*Зарегистрируйтесь в разделе &quot;Личный кабинет&quot;, чтобы получить дополнительные возможности.</span></em></span>
                                </p>

                                <p>&nbsp;</p>

                                <p><strong><span style="font-size:18px">Регистрация на сайте</span></strong></p>

                                <p><span style="color:#000000"><span style="font-size:16px">Прежде чем мы перейдем к информации о заказе, давайте рассмотрим несколько основных шагов. Чтобы зарегистрироваться на нашем сайте, выполните следующие шаги:</span></span>
                                </p>

                                <p style="margin-left:40px"><span style="color:#000000"><span style="font-size:16px">&bull; Войдите в раздел <strong>&laquo;Личный кабинет&raquo;</strong>, введите свой номер телефона и нажмите кнопку <strong>&laquo;Получить код активации&raquo;</strong>.</span></span>
                                </p>

                                <p style="margin-left:40px"><span style="color:#000000"><span style="font-size:16px">&bull; Специальный код будет отправлен на ваш номер в SMS-сообщении. После его ввода нажмите кнопку <strong>&laquo;Войти&raquo;</strong>.</span></span>
                                </p>

                                <p style="margin-left:40px"><span style="color:#000000"><span style="font-size:16px">&bull; После этого введите необходимую информацию (имя, адрес и т.д.).</span></span>
                                </p>

                                <p style="margin-left:40px"><span style="color:#000000"><span style="font-size:16px">&bull; После нажатия кнопки <strong>&laquo;Сохранить изменения&raquo;</strong> вы будете зарегистрированы на нашем сайте.</span></span>
                                </p>

                                <p><span style="color:#000000"><span style="font-size:16px">Поздравляем, теперь вы присоединились к нашим клиентам с широким спектром возможностей! Вы можете в любой момент обновить данные через <strong>&laquo;Личный кабинет&raquo;</strong>.</span></span>
                                </p>

                                <p>&nbsp;</p>

                                <p><span style="font-size:18px"><strong>Выбор товара</strong></span></p>

                                <p><span style="color:#000000"><span style="font-size:16px">Мы добавляем новые функции на наш сайт практически каждый день, чтобы вы могли без труда сделать заказ. Например, на главной странице нашего сайта www.asaxiy.uz мы предоставляем информацию о различных скидках, новых товарах и лучших товарах. В разделе <strong>&laquo;Все категории&raquo;</strong> вы можете ознакомиться со всеми товарами нашего сайта. Вы можете получить всю интересующую Вас информацию, перейдя на страницу соответствующего товара.</span></span><br/>
                                    &nbsp;</p>

                                <p><img alt=""
                                        src="{% static "custom-assets/images/order_faq.png" %}"
                                        style="width: 99%; object-fit: inherit;"/><br/>
                                    &nbsp;</p>

                                <p><span style="font-size:18px"><strong>Оформление заказа</strong></span></p>

                                <p><span style="color:#000000"><span style="font-size:16px">В интернет-магазине Asaxiy.uz оформить заказ можно двумя способами: на сайте или через Telegram-бот.</span></span>
                                </p>

                                <p style="margin-left:40px"><strong><span style="color:#000000"><span
                                        style="font-size:16px">&bull; Оформить заказ через сайт</span></span></strong>
                                </p>

                                <p style="margin-left:40px"><span style="color:#000000"><span style="font-size:16px">Выбрав нужный товар, нажмите кнопку <strong>&laquo;Купить в 1 клик&raquo;</strong>. В специальном окошке вам необходимо ввести количество необходимого вам товара и вашу личную информацию. Соглашаясь с условиями </span></span><span
                                        style="font-size:16px"><u><a href="https://asaxiy.uz/uz/page/rules"><span
                                        style="color:#0000FF">оферты</span></a></u></span><span
                                        style="color:#000000"><span style="font-size:16px">, нажмите <strong>&laquo;Оформить&raquo;</strong>.</span></span>
                                </p>

                                <p style="margin-left:40px"><span style="color:#000000"><span style="font-size:16px">Если вы хотите оформить заказ на несколько товаров одновременно, воспользуйтесь кнопкой <strong>&laquo;Добавить в корзину&raquo;</strong>. После добавления в корзину перейдите в <strong>&laquo;Корзину&raquo;</strong> и нажмите <strong>&laquo;Оформить&raquo;</strong>, предварительно убедившись, что выбрали нужные товары. На следующей странице введите запрашиваемую информацию, прочтите и согласитесь с условиями </span></span><span
                                        style="font-size:16px"><u><a href="https://asaxiy.uz/uz/page/rules"><span
                                        style="color:#0000FF">оферты</span></a></u></span><span
                                        style="color:#000000"><span style="font-size:16px"> и нажмите <strong>&laquo;Заказать&raquo;</strong>.</span></span>
                                </p>

                                <p style="margin-left:40px"><strong><span style="color:#000000"><span
                                        style="font-size:16px">&bull; Заказ через Telegram бота</span></span></strong>
                                </p>

                                <p style="margin-left:40px"><span style="color:#000000"><span style="font-size:16px">Чтобы заказать через Telegram, введите в поисковую строку </span></span><span
                                        style="font-size:16px"><a href="https://t.me/asaxiybot"><span
                                        style="color:#0000FF"><u>@asaxiybot</u></span></a></span><span
                                        style="color:#000000"><span style="font-size:16px">. Через этот&nbsp; бот вы можете оформить заказ на товар, который ищете. Ваш заказ будет принят нашими модераторами.</span></span>
                                </p>

                                <p style="margin-left:40px"><em><span style="color:#000000"><span
                                        style="font-size:16px">*Если ответ задерживается, наберитесь терпения и не блокируйте бот. Мы обязательно вам ответим.</span></span></em>
                                </p>

                                <p style="margin-left:40px">&nbsp;</p>

                                <p><span style="color:#000000"><span style="font-size:16px">Если вы хотите узнать об оплате в рассрочку, перейдите по этой </span></span><span
                                        style="font-size:16px"><u><a
                                        href="https://asaxiy.uz/page/usloviya-rassrochki"><span style="color:#0000FF">ссылке</span></a></u></span><span
                                        style="color:#000000"><span style="font-size:16px">.</span></span></p>

                                <p><span style="color:#000000"><span style="font-size:16px">После оформления заказа с Вами свяжется оператор из отдела продаж и подтвердит заказ. Затем вы можете сообщить оператору другую информацию о заказе (место выдачи, время получения заказа и т.д.). После подтверждения заказа он будет упакован и передан в службу доставки. На указанный вами номер будет отправлено СМС о том, что заказ отправлен.</span></span>
                                </p>

                                <p><span style="color:#000000"><span
                                        style="font-size:16px">Перейдите по этой </span></span><span
                                        style="font-size:16px"><u><a href="https://asaxiy.uz/page/delivery"><span
                                        style="color:#0000FF">ссылке</span></a></u></span><span
                                        style="color:#000000"><span style="font-size:16px">, чтобы узнать об условиях доставки и способах оплаты.</span></span>
                                </p>

                                <p>&nbsp;</p>

                                <p><span style="color:#000000"><span style="font-size:16px">Если у вас есть дополнительные вопросы, мы будем рады ответить на них по телефону +998 71 200 01 05.</span></span>
                                </p>
                            </div>
                        </div>
                        <div id="f11" class="tab-pane fade show "
                             role="tabpanel">
                            <div class="faq__content">
                                <div class="faq__content-title text-center mb-4">
                                    Активировать Промокод!
                                </div>
                                <p><span style="font-size:16px">Если у вас есть код купона или промокод, вы можете активировать его прямо сейчас, используя наш сайт Asaxiy.uz или наше мобильное приложение AsaxiyBooks!</span>
                                </p>

                                <p><span style="font-size:16px">После входа в систему через сайт нажмите на иконку Профиль, расположенную в правом верхнем углу системы или войдите в личный кабинет по адресу <a
                                        href="https://asaxiy.uz/profile">https://asaxiy/profile</a>, вы перейдете в окно ввода, если ваш Промо Код активен, то указанная функция отобразится в вашем личном кабинете</span>
                                </p>

                                <p><span style="font-size:16px">Если вы выиграли Купон от конкурсов Robocontest.uz&nbsp;или&nbsp;CPYTHON.UZ</span><span
                                        style="font-size:16px">, вы можете использовать его только для чтения <strong>электронной книги</strong> или <strong>прослушивания аудиокниги</strong>, поэтому в системе он считается <strong>Балом</strong>!</span>
                                </p>

                                <p><span style="font-size:16px">И банковские купоны TBC также можно использовать для оплаты покупок в Интернете!</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}