{% extends "layouts/base.html" %}


{% block content %}


    <section class="static-page">
        <div class="container">
            <div class="static-page__wrapper">
                <h1 class="static-page___head">Оферта для покупок в рассрочку</h1>
                <div class="static-page__paragraph">
                    <p><strong>&laquo;ASAXIY UZ&raquo; МЧЖ&nbsp;(<a href="https://asaxiy.uz">https://www.asaxiy.uz</a>)</strong>&nbsp;<strong>ИНТEРНEТ
                        ДЎКОНИДАН ФОЙДАЛАНИШ ВА ИНТEРНEТ ДЎКОН САЙТИДА ЖОЙЛАШТИРИЛГАН МАҲСУЛОТЛАРНИ ҚИСМЛАРГА БЎЛИБ
                        ТЎЛАШ ЙЎЛИ БИЛАН СОТИШ ВА СОТИБ ОЛИШНИНГ УМУМИЙ ҚОИДАЛАРИ.</strong></p>

                    <p><strong>1. Атамалар ва таърифлар.</strong></p>

                    <p>1.1. Ушбу Умумий қоидаларда, қуйида келтирилган атамалар қуйидагича маъноларни англатади ва унинг
                        ажралмас таркибий қисми ҳисобланади:</p>

                    <p><strong>Битим&nbsp;</strong>― ушбу битимнинг Умумий қоидалари асосида, Харидор ва Сотувчи
                        ўртасида тузилган, Интернет дўкон саҳифаларида жойлаштирилган Маҳсулот(лар)ни қисмларга бўлиб
                        тўлаш йўли билан сотиш ва сотиб олиш тўғрисида электрон ҳужжат.</p>

                    <p><strong>Харидор сўровномаси</strong>&nbsp;― Харидорнинг электрон ёки ёзма равишда
                        расмийлаштирилган, Сотувчига юборилган, Харидорнинг, ушбу Умумий қоидалар, Сотувчи ва Ўзбекистон
                        Республикаси қонунчилигига мувофиқ, Сотувчи билан Интернет дўкон сайтида электрон тижорат
                        усулида жойлаштирилган Маҳсулот(лар)ни қисмларга бўлиб тўлаш йўли билан сотиш ва сотиб олиш
                        битимини тузиш мақсадини англатувчи таклиф‑офертаси. (Интернет дўкон саҳифаларида электрон
                        тижорат усулида жойлаштирилган Маҳсулотларни қисмларга бўлиб тўлаш йўли билан сотиш ва сотиб
                        олиш тўғрисида сўровнома‑оферта).</p>

                    <p><strong>Интернет дўкон</strong>&nbsp;―
                        Сотувчининг&nbsp;<u>ҳттп</u><u>://</u><u>www</u><u>.</u><u>асахий</u><u>.</u><u>уз</u><u>.&nbsp;</u>интернет
                        манзилида жойлаштирилган, расмий интернет дўкони. Интернет дўкон/Дўкон ёки Интернет‑сайт
                        тушунчалари бир хил кучга эга ҳисобланади.</p>

                    <p><strong>Ҳудудий филиал&nbsp;</strong>― Сотувчининг Республика вилоят ва туманларида жойлашган
                        савдо шохобчалари.</p>

                    <p><strong>Умумий қоидалар</strong>― ушбу ҳужжат (<a
                            href="https://asaxiy.uz">https://www.asaxiy.uz</a>). Интернет дўкони ҳамда ҳудудий
                        филиалларда фойдаланиш, шунингдек, маҳсулотларни қисмларга бўлиб тўлаш йўли билан сотиш ва сотиб
                        олишнинг Умумий қоидалари.</p>

                    <p><strong>Томон ёки Томонлар</strong>&nbsp;― контекстга кўра Харидор ёки Сотувчи, ёки тегишли
                        равишда Харидор ва Сотувчи.</p>

                    <p><strong>Сотувчи</strong>&nbsp;― белгиланган тартибда рўйхатдан
                        ўтган&nbsp;<strong>&laquo;Асахий</strong>&nbsp;<strong>уз&raquo; МЧЖ.</strong></p>

                    <p><strong>Харидор&nbsp;</strong>― Интернет дўкон сайтида электрон тижорат усулида ва ҳудудий
                        филиалларда жойлаштирилган Маҳсулот(лар)ни қисмларга бўлиб тўлаш йўли билан сотиш ва сотиб олиш
                        битимини тузиш учун ҳуқуқий лаёқатга эга бўлган ҳар қандай жисмоний шахс.</p>

                    <p><strong>Маҳсулот</strong>&nbsp;― Сотувчи томонидан Интернет дўкон орқали электрон тижорат усулида
                        қисмларга бўлиб тўлаш шарти билан сотилувчи маҳсулот, продукция.</p>

                    <p><strong>2. Умумий қоидалар.</strong></p>

                    <p>2.1. Ушбу Умумий қоидалар Сотувчининг Интернет дўконидан фойдаланиш тартибларини, Интернет сайтда
                        рўйхатдан ўтиш, ҳудудий филиалларга мурожаат қилиш, Харидор сўровномаларини расмийлаштириш
                        тартибларини белгилаб, ўрнатади ва шуларга кўра, шу жумладан, Интернет дўкон саҳифаларида
                        электрон тижорат усулида жойлаштирилган ва мавжуд филиаллар орқали Маҳсулот(лар)ни қисмларга
                        бўлиб тўлаш йўли билан сотиш ва сотиб олиш тўғрисидаги электрон ҳужжат кўринишидаги тижорий
                        Битимни тузиш бўйича пайдо бўлган, муносабатни тартибга солади.</p>

                    <p>2.2. Электрон тижорат соҳаси ва товар‑истеъмол кредити алоқалари (харидорга сотиб олинган
                        Маҳсулотлар учун қисмларга бўлиб тўлаш кўринишида тақдим этиш ― Маҳсулотни қисмларга бўлиб тўлаш
                        шарти билан сотиш) &laquo;Электрон тижоратни амалга ошириш қоидалари&raquo; (2016 йил 2 июндаги
                        185‑сонли ЎзР ВМҚ‑га 1‑сонли илова), Ўзбекистон Республикасининг &laquo;Электрон тижорат
                        тўғрисидаги&raquo; қонуни, Ўзбекистон Республикасининг &laquo;Истеъмол кредити тўғрисидаги&raquo;
                        қонуни ва Ўзбекистон Республикасининг бошқа норматив‑ҳуқуқий ҳужжатлари билан тартибга
                        солинади.</p>

                    <p>2.3. Истеъмолчилар ҳуқуқларини ҳимоя қилиш бўйича муносабатлар Ўзбекистон Республикасининг
                        Фуқаролик кодекси, Ўзбекистон Республикасининг &laquo;Истеъмолчилар ҳуқуқларини ҳимоя қилиш
                        тўғрисидаги&raquo; Қонуни ва Ўзбекистон Республикасининг бошқа норматив‑ҳуқуқий ҳужжатлари билан
                        тартибга солинади.</p>

                    <p><strong>3. Битим мавзуси ва Маҳсулот нархига оид Умумий қоидалар.</strong></p>

                    <p>3.1. Сотувчи амалга оширади, Харидор эса ушбу Умумий қоидаларда кўрсатилган шартларга кўра
                        Маҳсулотга буюртма беради, уни қабул қилади ва ҳақ тўлайди. Қисмларга бўлиб тўлаш шарти билан
                        сотиб олинган Маҳсулотларга эгалик қилиш ҳуқуқи Харидорга иккинчиси Маҳсулот тўловини тўлиқ
                        амалга оширганидан сўнг ўтади. Маҳсулот йўқолиши ёки зарарланиши жавобгарлиги Маҳсулот Харидорга
                        юборилган ва Харидор томонидан Маҳсулотни топшириш ва қабул қилиш акти (Ушбу Умумий шартларга
                        1‑сонли илова) ва/ёки Сотувчининг ташувчиси/курьери етказиб берган вақтдаги юк хати имзоланган
                        пайтдан бошлаб Харидорга ўтади.</p>

                    <p>3.2. Маҳсулот нархи бир томонлама эътирозсиз тартибда белгиланади ва Интернет дўкон саҳифаларида
                        кўрсатилади.</p>

                    <p>3.3. Маҳсулот нархи Ўзбекистон Республикаси миллий валютаси ― Сўмда, барча солиқлар, шунингдек,
                        (ҚҚС ишлатилса) ҚҚС ҳисобга олинмаган ҳолда кўрсатилади.</p>

                    <p>3.4. Маҳсулот нархи Сотувчининг Интернет дўкони саҳифаларида Маҳсулот тўғрисидаги маълумотлар
                        сақланаётган муддат давомида ҳақиқийдир.</p>

                    <p>3.5. Маҳсулотлар сайтда Интернет дўконнинг мулки ҳисобланган график расм ва намуналар орқали,
                        маҳсулот хусусиятлари тавсифланган ҳолда тақдим этилади.</p>

                    <p>3.6. Мониторнинг турли хил техник хусусиятлари туфайли Маҳсулот ранги Интернет сайтда тақдим
                        этилганидан фарқ қилиши мумкин.</p>

                    <p>3.7. Маҳсулотнинг ташқи кўриниши Интернет сайтда тасвирланганидан фарқ қилиши мумкин.</p>

                    <p>3.8. Харидор илтимосига биноан Интернет дўкон менежери, Харидорнинг нуқтаи назарига кўра,
                        Маҳсулотни сотиб олиш тўғрисида қарор қабул қилиш учун зарур ва етарли бўлган қўшимча маълумотни
                        электрон шаклда (электрон почта орқали) тақдим қилиши шарт.</p>

                    <p><strong>4. Битим тузиш шартлари</strong></p>

                    <p>4.1. Ушбу Умумий қоидалар матни Интернет дўкон саҳифаларида электрон тижорат усулида
                        жойлаштирилган Маҳсулот(лар)ни қисмларга бўлиб тўлаш шарти билан сотиш ва сотиб олиш бўйича
                        Битимнинг таркибий қисми ҳисобланади.</p>

                    <p>4.2. Харидор электрон тижорат усулида битим тузиш учун Харидор сўровномасини, шунингдек, Харидор
                        сўровномасини кўриб чиқиш ва Сотувчи ва Ўзбекистон Республикасининг амалдаги қонунчилиги
                        шартлари ва талабларига мувофиқ Харидор идентификациясини амалга ошириш учун зарур бўлган
                        ҳужжатларни электрон форматда ёки қоғоз нусхасини сотувчи‑консультантга тақдим қилади ёки
                        интернет дўкондаги шахсий кабинети орқали юборади.</p>

                    <p>4.3. Битим, Ўзбекистон Республикаси Фуқаролик кодексига, Ўзбекистон Республикасининг &laquo;Электрон
                        тижорат тўғрисидаги&raquo;, &laquo;Электрон ҳужжатлар алмашинуви тўғрисидаги&raquo;, &laquo;Электрон
                        рақамли имзо тўғрисидаги&raquo; Қонунларига мувофиқ, Сотувчи томонидан офертани ― Харидор
                        сўровномасини, қабул қилиниши йўли билан тузилади. Қабул қилиш Сотувчи томонидан ушбу
                        чораларнинг амалга оширилишини англатади: Харидор сўровномаси маъқуллангани тўғрисида
                        Харидорнинг Интернет дўкондаги шахсий кабинетига хабар ёки Харидорнинг рўйхатдан ўтиш пайтидаги
                        мобил рақамига смс‑хабар юбориш ва Маҳсулотни Харидорга етказиш (юклаб, жўнатиш).</p>

                    <p>4.4. Харидор билан Битим бўйича алоқа ҳаракатларини бошлаш санаси Сотувчи томонидан Харидор
                        Сўровномаси маъқуллангани тўғрисида Харидорнинг шахсий кабинетига хабар ёки Харидорнинг мобил
                        рақамига смс‑хабар юбориш санаси ҳисобланади.</p>

                    <p>4.5. Сотувчи томонидан оферта ― Харидор Сўровномаси, қабул қилиниши асосида тузилган Битим
                        томонлар, ушбу Умумий шартларга ва Интернет дўкон саҳифаларидаги ҳаракатларга мувофиқ келгуси
                        чораларни амалга ошириш йўли билан, қандайдир истисно ва/ёки баҳоналарсиз қўшиладиган қўшилиш
                        шартномаси саналади.</p>

                    <p>4.6. Харидор эгалик ҳуқуқи унга ўтказилмагунича Маҳсулотни ўзидан узоқлаштириш (сотиш, совға
                        қилиш, алмаштириш) ёки, шахсан фойдаланишдан ташқари, бошқа йўллар билан ишлатиш ҳуқуқига эга
                        эмас.</p>

                    <p><strong>5. Томонларнинг ҳуқуқ ва мажбуриятлари</strong></p>

                    <p>5.1. Сотувчи мажбуриятлари:</p>

                    <p>5.1.1. Интернет дўконнинг узлуксиз равишда йигирма тўрт соат ишлашини таъминлаш ва маълумотлар
                        хавфсизлигини ўрнатиш.</p>

                    <p>5.1.2. Ўзбекистон Республикаси қонунчилигига кўра ушбу турдаги маълумотни ваколатли органга
                        тақдим этиш мажбурияти назарда тутилган ҳоллардан ташқари, шунингдек, бундай маълумот оммага
                        очиқ бўлган ёки шахсан Харидор розилиги асосида ошкор қилинган ҳоллардан ташқари, шунингдек,
                        Харидор томонидан бунга ушбу Умумий қоидаларга мувофиқ очиқчасига рухсат берилган ҳоллар ва
                        меъёрлардан ташқари, Харидорлар тўғрисидаги маълумотни ошкор қилмаслик.</p>

                    <p>5.1.3. Ушбу Умумий қоидаларда кўрсатилган шартларга риоя қилиш ва Интернет дўкондан
                        фойдаланишнинг рўйхатдан ўтиш ва инициализация (смс‑текширув) шартларини бажариш шартлари билан
                        Харидорни рўйхатдан ўтказиш ва унга шахсий кабинетга кириши учун шахсий идентификаторни
                        тайинлаш.</p>

                    <p>5.1.4. Битим тузилган дақиқадан бошлаб Харидор қаршисидаги барча мажбуриятларни Харидор
                        сўровномаси, ушбу Умумий қоидалар ва Ўзбекистон Республикасининг амалдаги қонунчилиги шартларига
                        мувофиқ тўла таъминлаш.</p>

                    <p>5.1.5. Сотувчи ушбу Умумий қоидаларнинг 8‑бандида кўрсатилган форс‑мажор ҳолатлари юзага келганда
                        Битим бўйича мажбуриятларини бажармаслик ҳуқуқини ўзида сақлаб қолади.</p>

                    <p>5.1.6. Харидорнинг шахсий маълумотларини қайта ишлаш ва уларнинг махфийлигини Ўзбекистон
                        Республикасининг амалдаги қонунчилиги билан белгиланган тартибда таъминлаш.</p>

                    <p>5.1.7. Харидор билан ўзаро алоқаларда Ўзбекистон Республикасининг амалдаги қонунчилиги
                        талабларига риоя қилиш, Харидор билан алоқа қилишда одоб сақлаш ва хушмуомала бўлиш.</p>

                    <p>5.1.8 Сотувчи Ўзбекистон Республикасининг амалдаги қонунчилигига мувофиқ бошқа мажбуриятларни ўз
                        зиммасига олади.</p>

                    <p>5.2. Сотувчи ҳуқуқлари:</p>

                    <p>5.2.1. Ушбу Умумий қоидаларни, маҳсулот нархларини ва тегишли хизматларнинг тарифларини, тўлов ва
                        Маҳсулотни етказиб бериш усуллари ва муддатларини бир томонлама тартибда, уларни&nbsp;<u><a
                                href="https://asaxiy.uz">https://www.asaxiy.uz</a>&nbsp;;&nbsp;</u>интернет манзилида
                        жойлашган интернет дўконга жойлаштириш орқали ўзгартириш. Барча ўзгартиришлар эълон қилинганидан
                        кейинроқ кучга киради ва эълон қилинган дақиқадан бошлаб Харидор хабар топгунига қадар
                        етказилган ҳисобланади. Шу билан бирга, нархлар ва Ушбу Умумий қоидалар шартларига киритилган
                        бошқа ўзгартиришлар ўзгартириш тўғрисидаги бундай эълонга қадар буюртма қилинган маҳсулотларга
                        нисбатан жорий қилинмайди.</p>

                    <p>5.2.2. Харидор билан кечган телефон суҳбатларини ёзиб олиш.</p>

                    <p>5.2.3. Харидор манфаатлари учун, Харидор розилигисиз, Битим бўйича ва ушбу умумий Қоидаларга
                        мувофиқ алоҳида шартларни бажариш бўйича ўз ҳуқуқ ва мажбуриятларини учинчи шахсларга ўтказиш ва
                        шу билан бирга Харидор қаршисида у шахсларнинг хатти‑ҳаракатлари учун жавоб бериш;</p>

                    <p>5.2.4. Агар Харидор ушбу қурилмалар учун тўловни амалга оширмаса ёки тўлов жадвалига мувофиқ
                        тўлов қилиш муддатини ўтказиб юборса, Харидор томонидан қисмларга бўлиб тўлаш шарти билан
                        Интернет дўкон орқали сотиб олинган мобил қурилмаларни ― мобил алоқа воситалари ва мобил алоқа
                        модулига эга бўлган қурилмаларни бир томонлама тартибда, учинчи шахслар хизматидан фойдаланган
                        ҳолда, блокировка қилиш;</p>

                    <p>5.2.5. Агар Харидор томонидан қисмларга бўлиб тўлаш усулида харид қилинган маҳсулотлар тўлови
                        келишилган тўлов графигидан 15 кундан ортиқ кечикса, Сотувчи кечиктирилган сумма ва кейинги
                        ойлик тўловини ҳам мажбурий ундириш ҳуқуқига эга. Агар бу ҳолат асоссиз тарзда такрор кузатилса,
                        қолган ойлик тўловларни муддатидан олдин ундириш ҳуқуқига эга.</p>

                    <p>5.2.6. Сотувчи Ўзбекистон Республикасининг амалдаги қонунчилигига мувофиқ бошқа ҳуқуқларга
                        эга.</p>

                    <p>5.3. Харидор мажбуриятлари:</p>

                    <p>5.3.1. Ушбу Умумий қоидалар, Сотувчи томонидан Интернет дўконда таклиф қилинаётган Маҳсулот
                        нархлари, шунингдек, Интернет дўкон саҳифаларидаги бошқа шартлар билан танишиш ва уларни
                        бажариш.</p>

                    <p>5.3.2. Сотувчи Харидор қаршисидаги ўз мажбуриятларини бажараётган вақтда иккинчиси ўзини Харидор
                        сифатида аниқ танитувчи ва Харидорга у томонидан буюртма қилинган Маҳсулотни етказиб бериш учун
                        етарли бўлган барча зарурий ва ишончли маълумотларни тақдим этиши шарт.</p>

                    <p>5.3.3. Қўшимча алоқа маълумотларини, маъқули, Харидорнинг қариндошлариникини&nbsp;<a
                            href="https://asaxiy.uz">www.asaxiy.uz</a>&nbsp;тизимида рўйхатдан ўтказиш.</p>

                    <p>5.3.4. Буюртма қилинган Маҳсулот ва унинг етказиб берилгани учун (шундай хизмат тури танланганда)
                        Харидор юборган сўровнома, шунингдек ушбу Умумий қоидаларда кўзда тутилган шартлар бўйича ва
                        уларга мувофиқ тўлов қилиш.</p>

                    <p>5.3.5. Низолар келиб чиқмаслиги учун, Сўровнома расмийлаштирилаётган вақтда Сотувчи томонидан
                        Интернет дўкон саҳифаларида тақдим қилинган маълумотлар билан танишиш.</p>

                    <p>5.3.6. Маҳсулотларни фақат шахсий фойдаланиш мақсадида, тадбиркорлик фаолияти ва даромад топишни
                        кўзламаган ҳолда сотиб олиш.</p>

                    <p>5.3.7. Шахсий кабинетнинг идентификация маълумотларини учинчи шахсларга тақдим қилмаслик.</p>

                    <p>5.3.8. Шахсий компьютер, смартфон ва бошқа электрон тўлов ва шахсий маълумот воситаларининг ишга
                        яроқлилиги, маълумотлар ҳимояси ва хавфсизлигини тегишли тарзда таъминлаш.</p>

                    <p>5.3.9.&nbsp;<strong>Харидор Сўровномаси Сотувчи томонидан тасдиқланиши ва тўлов амалга оширилиши
                        учун юборилишидан аввал Харидор Сўровномаси тўғри расмийлаштирилганини (сумма, танланган
                        Маҳсулот, Маҳсулот миқдори ва бошқаларни) диққат билан текшириш.&nbsp;</strong>Маҳсулотлар
                        бўйича ҳисоб‑китоблар (тўловлар) Ўзбекистон Республикаси фуқаролик кодексига, Ўзбекистон
                        Республикасининг &laquo;Электрон тўловлар тўғрисидаги&raquo;, &laquo;Электрон ҳужжат алмашинуви
                        тўғрисидаги&raquo; қонунларига, Ўзбекистон Республикасининг &laquo;Электрон тижорат тўғрисидаги&raquo;
                        қонунига мувофиқ ва ушбу Умумий қоидаларга мувофиқ бошқа қонунчилик актлари ва Интернет дўконда
                        Харидор Сўровномаси рўйхатдан ўтказилган пайтда қабул қилинган тўлов шартларига кўра амалга
                        оширилади.</p>

                    <p>5.3.10. Интернет дўкондан учинчи шахслар ҳуқуқларини бузувчи, ғайриқонуний мақсадларда фойдаланиш
                        тақиқланади.</p>

                    <p>5.3.11. Сотиб олинган маҳсулотдан фақат қонуний йўлда фойдаланиш ва Интернет дўкон ва Маҳсулотдан
                        фойдаланиш мобайнида Харидор ёки учинчи шахс томонидан етказилган ҳар қандай турдаги зарар учун
                        жавобгарликни Сотувчига юкламаслик.</p>

                    <p>5.3.12. Харидорлар учун Сотувчи томонидан Интернет дўкон саҳифалари ва/ёки шахсий кабинетда эълон
                        қилинган хабарлар ва хабарномаларни кузатиб бориш.</p>

                    <p>5.3.13. Сотувчи ходимлари билан ўзаро алоқада амалдаги қонунчилик талабларига риоя қилиш, алоқада
                        одоб ва хушмуомалаликни сақлаш.</p>

                    <p>5.3.14. Харидорнинг шахсий рўйхатдан ўтиш маълумотлари ўзгарганлиги тўғрисида&nbsp;<a
                            href="https://asaxiy.uz">www.asaxiy.uz</a>&nbsp;тизимида Сотувчини зудлик билан хабардор
                        қилиш, шу жумладан:</p>

                    <ul>
                        <li>банк хизмати ўзгартирилганда (банк тўлов картаси);</li>
                        <li>асосий мобил алоқа рақами ўзгартирилганда;</li>
                        <li>Харидорнинг яшаш манзили ўзгартирилганда.</li>
                    </ul>

                    <p><strong>6. Тўлов ва Маҳсулотни етказиб бериш шартлари</strong></p>

                    <p>6.1. Маҳсулотни Харидорга етказиб бериш, қуйида келтирилган шартлар бўйича, фақат Тошкент шаҳри
                        ичида етказиб берилади.</p>

                    <p><strong>6.2. Тўлов қилиш усуллари</strong></p>

                    <p>6.2.1. Интернет дўконда сотиб олинган Маҳсулотга тўлов қилиш учун Харидор банк карталари, нақд ва
                        турли хил тўлов қуроллари орқали (масалан, ПАЙМE, CЛИCК ва бошқалардан) тўлов қилишнинг бошқа
                        электрон воситаларидан фойдаланган ҳолда тўловни амалга ошириши мумкин.</p>

                    <p>Бунинг учун Интернет дўкон саҳифаларида Харидорга Маҳсулот(лар) учун Интернет дўкон билан
                        ҳамкорлик қиладиган тўлов воситалари орқали тўловни амалга ошириш таклиф қилинади ва Харидор
                        сайтдаги йўриқномага амал қилган ҳолда онлайн тўловни амалга ошириши мумкин.</p>

                    <p>6.2.2. Барча маҳсулотлар электрон тижорат усулида қисмларга бўлиб тўлаш шарти билан сотилади.</p>

                    <p>Маҳсулотни қисмларга бўлиб тўлаш шарти билан сотиб олинган тақдирда, тўлов Харидор томонидан,
                        шахсий кабинет орқали Маҳсулотга буюртма бериш вақтида Харидор томонидан танланган тўлов
                        жадвалига мувофиқ, ҳар ойда бир хил улушлар билан тўлаб борилади.</p>

                    <p>6.2.3. Рекуррент (автоматик) тўловлар</p>

                    <p>6.2.3.1. Харидорга Интернет дўконда ПАЙМО хизматидан фойдаланиб рекуррент (автоматик) тўловни
                        амалга ошириш имконияти берилади.</p>

                    <p>Харидорнинг Интернет дўконда рўйхатдан ўтиши вақтида, шунингдек Интернет дўкондан фойдаланиш
                        жараёнида Интернет дўконнинг тегишли саҳифасига ўзининг банк картасини улайди. Харидорнинг банк
                        картаси бўйича СМС маълумот бериш хизмати ёқилган абонент рақамига банк картасини улашда, бир
                        марталик пароль ва Харидорнинг Сотувчига Харидорнинг тўлов қобилиятини баҳолаш учун ПАЙМО
                        хизматига тақдим этилган шахсий маълумотларини юбориши ва Сотувчи томондан қайта ишланишига
                        розилик бериши учун ҳавола билан СМС хабар юборилади.</p>

                    <p>Интернет дўконнинг тегишли саҳифасига бир марталик паролнинг киритилиши &laquo;Автоматик тўлов&raquo;
                        хизмати ёқилганини англатади ва Харидорга рекуррент тўлов ёқилади.</p>

                    <p>Рекуррент тўловлар сотиб олинган Маҳсулот тўлови тўл узилгунига қадар Маҳсулот учун тўловлар
                        жадвалида белгиланган миқдорда ва вақтда амалга оширилади.</p>

                    <p>Харидорнинг банк карта(лар)ида пул маблағлари мавжуд бўлмаган тақдирда, тўлов ўтказилмайди. Тўлов
                        қилиш талаби Харидорнинг банк картасида етарли миқдордаги маблағ мавжудлиги тўғрисида маълумот
                        олинганидан сўнг ҳосил бўлади. Қарзнинг тўлиқ миқдори мавжуд бўлмаган тақдирда Харидор банк
                        картасидан рекуррент тўлов йўли билан пул маблағларини қисман ечиб олинишга&nbsp;ҳамда Харидор&nbsp;томонидан&nbsp;
                        берилган&nbsp; кушимча&nbsp; ракам&nbsp; уни&nbsp; кариндошига&nbsp; тегишли&nbsp; картасидан&nbsp;
                        пул&nbsp; маблагларини&nbsp; ечиб&nbsp; олишга розилик беради.</p>

                    <p>6.2.3.2. Харидор &laquo;Автоматик тўлов&raquo; хизматидан Сотувчига, банкка ёки ПАЙМО тўлов
                        хизматининг ҳуқуқий эгасига мурожаат қилиш орқали, шунингдек Интернет дўкондаги Харидорнинг
                        шахсий кабинети функционали орқали воз кечиши мумкин.</p>

                    <p>6.2.4 Muddatli to`lovga (bo`lib bo`lib to`lashga) tovar olgan mijoz quyidagilarga o&#39;z
                        roziligini beradi, barcha hisobvaraqlardan (shu jumladan bankda ochilgan depozit
                        hisobvaraqlaridan) va barcha bank kartalaridan (shu jumladan ilgari qo&#39;shilgan, keyinchalik
                        ochiladigan), O&#39;zbekiston Respublikasining istalgan banklarida ochilgan, to&#39;lanishi
                        lozim bo&#39;lgan summalarni avtomatik ravishda hisobidan chiqarishni (echishni) amalga
                        oshirishga vakolat beradi, topshiradi. shu jumladan tashkilot tomonidan Muddatli to`lovga qarz
                        oluvchiga noto&#39;g&#39;ri kiritilgan pul mablag&#39;larini xam.</p>

                    <p><strong>6.3. Маҳсулотни қисмларга бўлиб тўлаш йўли билан сотиб олиш шартлари:</strong></p>

                    <p>Маҳсулотни қисмларга бўлиб тўлаш йўли билан сотиб олиш учун Харидор Интернет дўкон саҳифаларида
                        қисмларга бўлиб тўлаш йўли билан сотиб олмоқчи бўлган Маҳсулотини танлайди ва &laquo;Қисмларга
                        бўлиб тўлашга расмийлаштириш&raquo; тугмасини босиш орқали &laquo;Харидор Сўровномаси&raquo;ни
                        расмийлаштиради. Таклиф қилинган вариантлардан (3-12 ой) Харидор керагини танлайди ва &laquo;Сўровномани
                        расмийлаштириш&raquo;ни босади. Сўнгра Харидор Сўровномасига кўра Маҳсулотни расмийлаштириш
                        Харидорга Интернет дўконда таклиф қилинган йўриқнома бўйича амалга оширилади.</p>

                    <p>Сотувчи операторлари харидор Сўровномасини тасдиқлаш ва тафсилотларни аниқлаштириш мақсадида
                        Харидор билан боғланадилар.</p>

                    <p>Қисмларга бўлиб тўлашни расмийлаштириш учун Харидор шунингдек Харидор Сўровномасига қуйида
                        келтирилган ҳужжатларнинг ПДФ ёки ЖПEГ форматидаги электрон (сканер қилинган) нусхаларини илова
                        қилиши шарт:</p>
                    <br>
                    <table style="background-color:rgb(243, 242, 242); color:rgba(0, 0, 0, 0.87); font-family:helvetica,arial,sans-serif; font-size:14px">
                        <tbody>
                        <tr>
                            <td>
                                <p>Ҳужжат тури</p>
                            </td>
                            <td colspan="2">
                                <p>Маҳсулот нархи</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>&nbsp;</p>
                            </td>
                            <td>
                                <p>500 000 сўмдан</p>

                                <p>4 999 999 сўмгача</p>
                            </td>
                            <td>
                                <p>5 000 000 сўмдан юқори</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Рўйхатдан ўтиш жойи кўрсатилган паспорт (нусхаси)</p>
                            </td>
                            <td>
                                <p>шарт</p>
                            </td>
                            <td>
                                <p>шарт</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>(асли) ёки харидорнинг банк картаси рақами (УзCард ва/ёки ҲУМО)</p>
                            </td>
                            <td>
                                <p>шарт</p>
                            </td>
                            <td>
                                <p>шарт</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Даромадлари тўғрисида, лавозими кўрсатилган, маълумотнома</p>
                            </td>
                            <td>
                                <p>ихтиёрий</p>
                            </td>
                            <td>
                                <p>ихтиёрий</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Ҳарбий гувоҳнома (агар иш фаолияти мудофаа хизмати бўлса)</p>
                            </td>
                            <td>
                                <p>шарт</p>
                            </td>
                            <td>
                                <p>шарт</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br> <br>
                    <p>Агар керак бўлса, Сотувчи Харидорнинг кредит тўлаш имкониятини текшириш учун қўшимча ҳужжатларни
                        талаб қилишга ҳақлидир.</p>

                    <p>Сотувчи Харидор Сўровномасини ва тақдим этилган электрон (сканер қилинган) ҳужжатларни кўриб
                        чиқади.</p>

                    <p>72 соат ичида ва натижаларга кўра Харидор Сўровномасини тасдиқлаш (маъқуллаш) тўғрисида ёки
                        Харидор Сўровномасини тасдиқлашдан бош тортиш тўғрисида қарор қабул қилади.</p>

                    <p>Сотувчи белгиланган муддат ичида Харидорга Харидорнинг шахсий кабинетига электрон почта хабарини
                        юбориш ва/ёки Харидорнинг банк картасини (УзCард ва/ёки ҲУМО) улаш ва ушбу ҳаракатни СМС
                        верификация йўли билан тасдиқлаш таклифи билан СМС хабар юбориш орқали қабул қилинган қарор
                        тўғрисида хабар беради.</p>

                    <p><strong>Шу билан бирга, Харидор банк картасини СМС верификация йўли билан Интернет дўкон тизимига
                        улаган пайтда,&nbsp;Харидор сотиб олинган маҳсулот(лар) учун қарзларни тўла узилмагунига қадар
                        Харидорнинг банк карталаридан Маҳсулот(лар) учун тўлов қилиш жадвалига мувофиқ миқдорда ва
                        вақтда, рекуррент (автоматик) тўловларни ўз ичига олган ҳолда, акцептсиз равишда пул
                        маблағларини ечиб олинишига розилик билдирганини тушунади. Харидорнинг картасидан пул ечиб
                        олишдан аввал унга, кўрсатилган сумма Харидорнинг ушбу банк картасида мавжудлигини таъминлаш
                        сўрови билан, Сотувчидан қисмларга бўлиб тўлаш шарти билан сотиб олган Маҳсулоти учун
                        белгиланган тўлов миқдори ечиб олиниши тўғрисида (3-2-1 кун аввал) хабар юборилиши
                        мумкин.</strong></p>

                    <p>Ўз навбатида, Сотувчи СМС юбориш, Харидорнинг Интернет дўкондаги шахсий кабинетига хабар йўллаш
                        ёки бошқа мумкин бўлган йўллар орқали Харидорни Харидор томонидан сотиб олинган маҳсулот(лар)
                        учун кўрсатилган муддатлар ичида (бу муддатдан 2‑3 кун аввал) тўлов қилиниши кераклиги, Харидор
                        томонидан уланган банк картасидан (УзCард ва/ёки ҲУМО) Маҳсулот(лар) учун тўлов қилиш жадвалига
                        мувофиқ миқдорда ва муддатда пул маблағларини ечиб олиниши тўғрисида огоҳлантириш ҳуқуқига ҳам
                        эга (аммо бу мажбуриятни ўз зиммасига олмайди). Агар, сотувчида тақдим қилинган ҳужжатларнинг
                        электрон (сканер қилинган) нусхаларининг ҳақиқийлиги ва/ёки ишончлилигига нисбатан шубҳа пайдо
                        бўлса, Сотувчи Харидор сўровномасини тасдиқлашдан бош тортишга ҳақлидир. Шу билан бирга, Харидор
                        Сўровномаси Харидор томонидан ҳужжатларнинг тегишли электрон (сканер қилинган) нусхалари қайта
                        тақдим қилинганидан кейингина тасдиқланиши мумкин.</p>

                    <p>6.3. Етказиб бериш шартлари (Тошкент ш. ҳудудида)</p>

                    <p>6.3.1. Харидор ушбу Умумий Қоидаларга мувофиқ Маҳсулот етказиб берилишини расмийлаштириши ёки
                        Харидор Сўровномаси тасдиқланганидан (маъқулланганидан) сўнг Сотувчи томонидан кўрсатилган
                        манзилдан Маҳсулотни олиб кетиши мумкин.</p>

                    <p>6.3.2. Етказиб бериш Сотувчи томонидан жалб қилинган курьерлар томонидан амалга оширилади.
                        Етказиб бериш нархи ва шартлари Харидор билан Харидорнинг ҳар бир алоҳида Сўровномаси бўйича
                        муҳокама қилинади.</p>

                    <p>6.4. Маҳсулот Харидорга юборилгунига қадар Интернет дўкон менежери томонидан исталган вақтда
                        маҳсулотни етказиб беришдан тўлиқ бош тортиш қарори қабул қилиниши мумкин. Маҳсулотдан бекор
                        қилинган тақдирда, ушбу Умумий Қоидаларда кўзда тутилган ҳолларда, Харидорга, расмийлаштириш ва
                        етказиб бериш пайтидаги барча харажатларни олиб ташлаган ҳолда, у томонидан тўланган сумма
                        қайтарилади.</p>

                    <p>6.5. Агар Маҳсулотни етказиб бериш ушбу Умумий Қоидаларда белгиланган муддатларда амалга
                        оширилган, аммо Харидорнинг айби билан Маҳсулот Харидорга берилмаган бўлса (Харидор ёки у
                        томонидан кўрсатилган қабул қилувчининг уйда йўқлиги, етказиб бериш манзили нотўғри
                        кўрсатилгани, Харидор ёки қабул қилувчининг қабул қилишдан асоссиз равишда бош тортиши ва
                        ҳоказо), кейинги етказиб бериш Сотувчи билан келишилган янги муддатда, Харидор Маҳсулотни
                        етказиб бериш бўйича хизматлар нархини қайта тўлаганидан кейин амалга оширилади.</p>

                    <p>6.6. Етказиб берилган вақтда Харидор Маҳсулотни курьер гувоҳлигида унинг бутунлиги, буюртма
                        қилинган миқдори, сифати ва ассортиментига кўра яроқлилигини текшириши шарт. Агар Маҳсулот
                        сифатсиз бўлса ёки буюртма қилинган миқдор ва/ёки ассортиментга мос келмаса, унда буюртма
                        қилинган ножоиз/номувофиқ маҳсулотлардан воз кечиш мумкин.</p>

                    <p>Етказиб берилган Маҳсулотлар Харидорга Сотувчининг ташувчиси/курьери билан Маҳсулот топширилишини
                        қабул қилиш тўғрисидаги актни ва/ёки юк ҳужжатларини имзолаш орқали топширилади.
                        Тушунмовчиликларга йўл қўймаслик учун курьер Харидор ёки унинг Вакилидан шахсини тасдиқловчи
                        ҳужжатни тақдим этишни ва ушбу ҳужжат тафсилотларини Харидор Сўровномаси квитанциясида
                        кўрсатишни талаб қилишга ҳақлидир.</p>

                    <p>6.7. Минтақаларга етказиб бериш шартлари.</p>

                    <p>Маҳсулотларни республика минтақаларига етказиб бериш курьер хизматлари орқали амалга
                        оширилади.</p>

                    <p>Курьер хизмати ― Сотувчи билан тузилган шартномага кўра, Сотувчининг Маҳсулотларни Харидорларга
                        етказиб беришни амалга оширувчи ҳамкори.</p>

                    <p>Етказиб бериш нархи Маҳсулот вазни ва ўлчамига қараб алоҳида‑алоҳида ҳисобланади ва Харидорга
                        мурожаат қилиш вақтида Харидорга етказилади.</p>

                    <p>У ёки бу Маҳсулотни Ўзбекистон Республикасининг исталган минтақасига етказиб бериш имконияти
                        Интернет дўконнинг тегишли саҳифасида Маҳсулот танлашда ёки телефон орқали Сотувчи менежеридан
                        аниқланиши мумкин.</p>

                    <p>6.8. Харидорнинг Курьердан Маҳсулотни қабул қилиб олишдаги мажбуриятлари:</p>

                    <ul>
                        <li>етказиб берилган Маҳсулотни кўздан кечириш;</li>
                        <li>етказиб берилган Маҳсулотнинг хизмат муддатини ва қадоқ бутунлигини текшириш;</li>
                        <li>Маҳсулот тайинланган миқдори, ассортименти ва тўлиқлигига мувофиқлигини текшириш учун курьер
                            ҳузурида Маҳсулотларни очиш;
                        </li>
                        <li>Етказиб берилган Маҳсулотга нисбатан даъволар бўлса, Маҳсулотни етказиб берган курьер
                            хизмати иштирокида, аниқланган номувофиқликлар ва Маҳсулотни қайтариш бўйича Акт тузиш. Агар
                            қабул қилувчи томонидан юқоридаги процедура бўйича талаблар илгари сурилмаган бўлса, у ҳолда
                            Сотувчи ҳам Маҳсулотни тегишли тарзда топшириш бўйича ўз мажбуриятларини тўлиқ бажарган деб
                            ҳисобланади.
                            <p>&nbsp;</p>
                        </li>
                    </ul>

                    <p>Сотувчининг Маҳсулотни етказиб бериш бўйича мажбурияти Харидор/Қабул қилувчи томонидан Маҳсулотни
                        қабул қилиб олиш ва Сотувчининг етказиб берувчиси/курьери билан Маҳсулот топширилишини қабул
                        қилиш Актини ва/ёки юк ҳужжатини имзолаш пайтида амалга оширилган ҳисобланади.</p>

                    <p>6.9. Маҳсулотга даъволар мавжудлиги юзасидан курьерлик хизмати орқали етказиб берилган Маҳсулот
                        қайтариб берилган тақдирда, Харидор қайтарилган Маҳсулот жўнатмасига қуйидаги ҳужжатларни илова
                        қилиши талаб этилади:</p>

                    <ul>
                        <li>қабул қилувчи ва курьерлик хизмати ходими ёки Сотувчининг вакили имзоси билан, ушбу
                            ҳужжатнинг 2‑иловаси шакли бўйича расмийлаштирилган, аниқланган номувофиқликлар ва
                            Маҳсулотни қайтариш тўғрисида Акт.
                        </li>
                        <li>Тўлов квитанциясининг нусхаси (агар тўлов электрон тўлов тизимлари орқали амалга оширилмаган
                            бўлса)
                            <p>&nbsp;</p>
                        </li>
                    </ul>

                    <p><strong>7. Маҳсулотларни қайтариш ва алмаштириш шартлари</strong></p>

                    <p>7.1. Сифат талабига жавоб берувчи Маҳсулотлар</p>

                    <p>7.1.1. Харидор сифат талабига жавоб берувчи, буюртма қилинган Маҳсулотдан, исталган пайтда, ҳеч
                        қандай тушунтиришларсиз воз кечишга ҳақлидир: уни қабул қилиб олгунга қадар, Маҳсулот курьер
                        томонидан етказиб берилган вақтда, шунингдек, қабул қилиб олгандан сўнг ― 24 соат ичида.
                        Маҳсулотни қайтариш ёки алмаштириш ушбу ҳолларда мумкин: Маҳсулот кўриниши (қадоқлар, муҳрлар,
                        ёрлиқлар), истеъмол хусусиятлари, шу жумладан, кўрсатилган Маҳсулотни сотиб олиш далиллари ва
                        шартларини тасдиқловчи ҳужжат (Маҳсулот ёки касса чеки) зарар кўрмаган бўлса. Ўзбекистон
                        Республикаси Вазирлар Маҳкамасининг 2003 йил 13 февралдаги 75‑сонли қарори билан тасдиқланган
                        Ўзбекистон Республикаси Чакана савдо қоидаларининг 1‑иловасига мувофиқ сифат талабига жавоб
                        берувчи Маҳсулотлар қайтарилмайди.</p>

                    <p>7.1.2. Бундай вазиятда Маҳсулотни қайтариш учун қуйидагилар талаб қилинади:</p>

                    <ul>
                        <li>Интернет дўконга Контактлар бўлимида кўрсатилган телефон рақамлари орқали қўнғироқ қилиш;
                        </li>
                        <li>қайтариш учун ариза тўлдириш (сайтда расмийлаштирилиши ёки ёзма равишда тўлдирилиши
                            мумкин)
                        </li>
                        <li>маҳсулот ёки касса чекини қайтариб бериш тўғрисидаги аризага илова қилиш (агар тўлов
                            электрон тўлов тизимлари орқали амалга оширилмаган бўлса).
                        </li>
                    </ul>

                    <p>7.1.3. Сифат талабига жавоб берувчи Маҳсулотни қайтариш ёки алмаштиришда етказиб бериш Харидор
                        ҳисобидан амалга оширилади.</p>

                    <p>7.2. Сифат талабига жавоб бермайдиган Маҳсулотлар</p>

                    <p>7.2.1. Харидор сифат талабига жавоб бермайдиган Маҳсулотни қабул қилганидан сўнг, агар нуқсонлар
                        Сотувчи ва Харидор ўртасида муҳокама қилинмаган бўлса, ўз хоҳишига кўра Сотувчидан қуйидагиларни
                        талаб қилишга ҳақлидир:</p>

                    <ul>
                        <li>шунга ўхшаш маркадаги (модель, артикул) Маҳсулотга алмаштириш;</li>
                        <li>тўлов нархини тегишли равишда қайта ҳисоблаш билан бошқа маркадаги (модель, артикул) айнан
                            ўхшаш Маҳсулотга алмаштириш;
                        </li>
                        <li>тўлов нархини мутаносиб тарзда тушириш;</li>
                        <li>Маҳсулот нуқсонларни зудлик билан, бепул бартараф этиш;</li>
                        <li>Маҳсулот нуқсонларини бартараф этиш харажатларини қоплаш;</li>
                        <li>Маҳсулотдан воз кечиш ва пулни қайтариш.</li>
                    </ul>

                    <p>7.2.2. Сифат талабига жавоб бермайдиган Маҳсулотларни қайтариш тартиби 7.1.2‑бандда кўрсатилган
                        тартибда амалга оширилади.</p>

                    <p>7.2.3. Қайтариш аризасида Харидор томонидан қайтарилаётган Маҳсулот қандай нуқсонга эга эканлиги
                        аниқ кўрсатилиши керак.</p>

                    <p>7.2.4. Маҳсулотларни курьерлик хизматлари орқали етказиб беришда (шу жумладан уни қайтариш ва
                        алмаштириш учун) Маҳсулот юборилган сана курьерлик хизмати томонидан жўнатмада курьерлик хизмати
                        ички ҳужжатларида (почта маркаси, штамп ва бошқалар) назарда тутилган усуллар билан кўрсатилган
                        сана ҳисобланади.</p>

                    <p>7.3. Маҳсулот қайтарилган тақдирда пул маблағларини қайтариш Харидордан тегишли ариза келиб
                        тушган кундан бошлаб 10 иш куни ичида амалга оширилади. Бунда маҳсулот сотиш билан боғлиқ
                        харажатлар ушлаб қолинади. Маблағлар Харидорнинг банк пластик картасига қайтарилиши мумкин.</p>

                    <p><strong>8. Форс‑мажор.</strong></p>

                    <p>8.1. Ҳар қайси томон, агар бу бажармаслик Битим тузилганидан ва ушбу Умумий қоидалар қабул
                        қилинганидан сўнг пайдо бўлган форс‑мажор ҳолатлари натижасида юзага келган бўлса, Битим ва ушбу
                        Умумий қоидалар олдидаги мажбуриятларини тўлиқ ёки қисман бажармаганликлари учун жавобгарликдан
                        озод этилади. &laquo;Форс‑мажор Ҳолатлари&raquo; бундай Томон ўзидаги бор воситалар билан
                        олдиндан кўра олиши ёки бартараф қила олиши мумкин бўлмаган фавқулодда ҳодисалар ёки вазиятларни
                        англатади. Бу каби фавқулодда ҳодисалар ёки вазиятлар хусусан шу кабиларни ўз ичига олади: иш
                        ташлашлар, тошқинлар, ёнғинлар, зилзилалар ва бошқа табиий офатлар, урушлар, ҳарбий ҳаракатлар,
                        Ўзбекистон Республикаси ёки бошқа давлат органларининг ҳаракатлари, шунингдек, ҳар қайси
                        Томоннинг ақлий назоратидан ташқарида бўлган ҳар қандай бошқа вазиятлар киради. Томонларнинг ҳар
                        бирига тўғридан‑тўғри ёки билвосита таъсир ўтказадиган амалдаги қонунчилик ёки норматив
                        ҳужжатларга киритилган ўзгартиришлар форс‑мажор ҳолатлари деб ҳисобланмайди, аммо агар ҳар қайси
                        Томоннинг Битим ёки ушбу Умумий қоидаларга кўра қайсидир мажбуриятини бажаришига тўсқинлик
                        қилувчи бундай ўзгариш киритилса, Томонлар Битимни бажаришда давом этишларини таъминлаш учун
                        мазкур муаммоларни бартараф этиш тартиби тўғрисида зудлик билан қарор қабул қилишлари шарт.</p>

                    <p><strong>9. Томонлар мажбуриятлари</strong></p>

                    <p>9.1. Битим ва ушбу Умумий қоидалар шартларини бажармаганлик ёки тегишли тарзда бажармаганлик учун
                        Томонлар ушбу Умумий қоидалар ва Ўзбекистон Республикасининг амалдаги қонунчилигига кўра
                        жавобгарликни ўз бўйниларига оладилар.</p>

                    <p>9.2. Битим бўйича ўз мажбуриятини бажармаган ёки тегишли тарзда бажармаган Томон ушбу Умумий
                        қоидалар ва Ўзбекистон Республикасининг амалдаги қонунчилигига кўра бундай бажармаслик
                        натижасида келиб чиққан зарарни нариги Томонга қоплаб бериши шарт.</p>

                    <p>9.3. Интернет дўконда жойлаштирилган барча матнли маълумотлар ва график тасвирлар қонуний
                        муаллифлик мулки ҳисобланади, кўрсатилган маълумот ва тасвирлардан ноқонуний фойдаланиш
                        Ўзбекистон Республикасининг амалдаги қонунчилигига кўра таъқиб қилинади.</p>

                    <p>9.4. Сотувчи Харидорнинг Интернет дўкондан фойдаланиш натижасида қандайдир билвосита/қинғир
                        йўллар билан юзага келган зарарлари ёки қўлдан чиқарган фойдалари учун жавобгарликни ўз бўйнига
                        олмайди.</p>

                    <p>9.5. Сотувчи&nbsp;<a href="https://asaxiy.uz">www.asaxiy.uz</a>&nbsp;веб‑сайти фаолиятини
                        таъминлайдиган дастурий-техник комплекс ишидаги, Сотувчига боғлиқ бўлмаган сабабларга кўра юзага
                        келган, бузилишлар, хатоликлар ва носозликлар, шу жумладан, Харидорнинг дастурий ва/ёки техник
                        воситалардан вақтинча фойдалана олмаслиги, шунингдек, Харидорнинг бу билан боғлиқ зарарлари учун
                        жавоб бермайди.</p>

                    <p>9.6. Сотувчи Харидорнинг қуйидагилар натижасида кўрган зарарлари учун жавобгар эмас:</p>

                    <p>9.6.1. Харидор томонидан Интернет дўконга кириш мақсадида фойдаланилган қурилмалар ва дастурий
                        таъминотларда &laquo;вируслар&raquo; ва бошқа зарар келтирувчи дастурлар мавжудлиги.</p>

                    <p>9.6.2. Интернет дўконда тўлов ўтказишда фойдаланилган реквизитларни нотўғри тўлдириш, шу
                        жумладан, аммо бу билан чекланмаган ҳолда етказиб бериш манзилини нотўғри кўрсатиш;</p>

                    <p>9.6.3. Харидор томонидан битим ва ушбу Умумий қоидаларнинг бузилиши.</p>

                    <p>9.6.4. Учинчи шахсларнинг ноқонуний хатти‑ҳаракатлари, шу жумладан, Харидорнинг идентификацион
                        маълумотларидан нотўғри фойдаланиш билан боғлиқ.</p>

                    <p>9.6.5. Харидор томонидан тўлов ўтказишнинг белгиланган тартибига хилоф иш қилиш.</p>

                    <p>9.7. Агар Харидор Маҳсулотни сотиб олишда ўз реквизитларини нотўғри кўрсатган бўлса, у ҳолда
                        Сотувчи пулни қайтариб беришни рад этиш ёки Интернет дўкондан фойдаланиш бўйича бошқа
                        ҳаракатларни амалга ошириш натижасида Харидорга етказилган зарар учун жавобгар бўлмайди.</p>

                    <p>9.8. Сотувчи қуйидаги ҳолларда Харидорнинг шахсий кабинетига киришини блокировка қилишга
                        ҳақлидир:</p>

                    <ul>
                        <li>Сотувчига бошқа Сотувчилар ва/ёки учинчи шахслардан Харидор томонидан уларнинг ҳуқуқлари ва
                            қонуний манфаатлари бузилганлиги тўғрисида даъволар келиб тушиши;
                        </li>
                        <li>Интернет дўкон хизмати дастурий таъминотининг исталган қисмига рухсатсиз ўзгартириш киритиш
                            (киритишга уриниш) ҳоллари аниқланганда.
                        </li>
                        <li>Харидор томонидан Битим ва ушбу Умумий қоидаларнинг бузилиши.</li>
                    </ul>

                    <p>9.9.&nbsp;<strong>Маҳсулотни қисмларга бўлиб тўлаш шарти билан сотиб олиш ва ушбу Маҳсулот учун
                        шахсий кабинет орқали Маҳсулотни буюртма қилишда танланган ва Харидор Сўровномасида кўрсатилган
                        тўловлар жадвалига мувофиқ тўлов қилинмаслиги ёки тўлов кечиктирилиши ҳолларида Сотувчи ўз
                        хоҳишига кўра, аммо бу билан чекланмаган ҳолда:</strong></p>

                    <p>9.9.1. қисмларга бўлиб тўлаш шарти билан сотиб олинган Маҳсулот(лар)ни қайтаришни талаб қилиш,
                        Харидор эса, олдиндан айтилган қарз кунидан бошлаб 3 (уч) ёки ундан ортиқ кун давомида тўловни
                        кечиктирганда, Сотувчининг биринчи талабига биноан, Маҳсулот(лар)ни дарҳол, нормал эскиришни
                        ҳисобга олган ҳолда, пайқаладиган носозлик ва/ёки модификацияларсиз, тўғри ишлаётган ва тўлиқ
                        функционал ҳолатда, барча тегишли ҳужжатлар ва қадоқлар (тара) билан бирга қайтариб беришни ўз
                        зиммасига олади. Шу билан бирга, агар қайтарилган Маҳсулотлар қарзни тўлиқ қоплаш учун етарли
                        бўлмаса, орадаги фарқи нақд пул билан қайтарилиши керак.</p>

                    <p>Агар Харидор Маҳсулот(лар)ни қайтаришдан ёки кечиктирилган суммани тўлашдан бош тортса, Сотувчи
                        Ўзбекистон Республикасининг ваколатли давлат органларига, ижро варақасини (ёзуви)ни олиш
                        мақсадида нотариусга ва/ёки Фуқаролик ишлари бўйича Юнусобод туманлараро судига даъво аризаси
                        билан мурожаат қилиши мумкин. Қарзни ундириш ва Маҳсулот(лар)ни қайтариб олиш билан боғлиқ
                        харажатлар ва зарарлар Харидор томонидан тўлиқ қопланади.</p>

                    <p>9.9.3. Маҳсулотни қабул қилган Харидор тўлов мажбуриятини Харидор Сўровномасида расмийлаштирилган
                        тўловлар жадвали ва/ёки Маҳсулотни етказиб бериш ва қабул қилиш тўғрисидаги Актга кўра
                        белгиланган муддатда бажармаса, Сотувчи юборилган Маҳсулот учун тўловларни ва тегишли тўловларни
                        тўлашни ёки тўланмаган Маҳсулотни қайтаришни талаб қилиш ҳуқуқига эга.</p>

                    <p><strong>10. Шикоят ва низоларни ҳал қилиш тартиблари.</strong></p>

                    <p>10.1. Битим ва ушбу Умумий қоидаларга кўра барча мажбуриятларни бажармаганлик ёки тегишли тарзда
                        бажармаганлик билан боғлиқ барча низоларни Томонлар музокаралар ва даъволар юбориш жараёнида ҳал
                        қилишга ҳаракат қилишади. Даъвони кўриб чиқиш муддати даъво келиб тушган кундан бошлаб 3
                        календарь кунни ташкил қилади. Сотувчи судгача тартибга солиш ва низоларни музокаралар йўли
                        билан ҳал қилиш процедураларини қўлламасдан, кечиктирилган тўловлар учун қарзлар ва жарималарни
                        ундиришга нотариуслар томонидан тузилган ижро варақасини олиш ва/ёки Фуқаролик ишлари бўйича
                        Юнусобод туманлараро судига даъво аризасини топшириш ҳуқуқини ўзида сақлаб қолади.</p>

                    <p>10.2. Музокаралар давомида ва шикоят тартибига биноан келишувга эришилмаса, Сотувчининг ўрнашган
                        жойида (келишилган юрисдикция) Ўзбекистон Республикасининг амалдаги қонунчилигига мувофиқ суд
                        тартибида ҳал қилинади.</p>

                    <p><strong>11. Бошқа шартлар</strong></p>

                    <p>11.1. Интернет дўконнинг, ушбу Умумий қоидаларда ҳавола қилинган, қоида ва шартларни тушунтириб
                        ўтувчи бўлимлари ва Интернет дўконнинг бошқа бўлимлари ушбу Умумий қоидаларнинг ажралмас қисми
                        ҳисобланади.</p>

                    <p>11.2.&nbsp;<strong>Сотувчи билан алоқа ўрнатган Харидор Ўзбекистон Республикасининг &laquo;Шахсий
                        маълумотлар тўғрисида&raquo;ги Қонунига мувофиқ &laquo;АСАХИЙ УЗ&raquo; МЧЖга қуйидагилар бўйича
                        розилик билдиради ва рухсат беради:</strong></p>

                    <p>11.2.1<strong>. Харидор томонидан тақдим этилган қўшимча телефон рақамларига қарзни узиш ва/ёки
                        Харидорнинг мавжуд қарзлар тўғрисида, шу жумладан, Харидорнинг қарзларини ундириш бўйича
                        кўрилаётган чора‑тадбирлар тўғрисида смс‑хабар юбориш, шунингдек, телефон рақамлари Харидор
                        томонидан қўшимча контактлар сифатида тақдим этилган шахсларга, Харидор ва унинг тўлов қилиш
                        қобилияти/даромади, билан боғлиқ таклифлар/маълумотларни олиш, Харидорга Маҳсулот(лар)ни
                        қисмларга бўлиб тўлаш шарти билан сотиш бўйича уларнинг фикр/розилигини билиш ва Харидорнинг
                        қарзлари, шунингдек, уларни ундириш бўйича кўрилаётган чора‑тадбирлар тўғрисида хабар бериш
                        учун, қўнғироқ қилиш.</strong></p>

                    <p>&ldquo;<strong>Кредит ахбороти алмашинуви тўғрисида&raquo;ги ЎзР Қонунининг 19‑моддаси ва &laquo;Шахсий
                        маълумотлар тўғрисида&raquo;ги ЎзР Қонунининг 18‑моддасига мувофиқ, Харидор кредит ҳисоботини
                        олишга, кредит тарихини шакллантиришга ва ўзи тўғрисидаги кредит маълумотларини Сотувчи билан
                        алмашинишга, шунингдек, Битимни тузиш ва уни амалга ошириш бўйича чора‑тадбирлар кўрилиши учун
                        ўзининг шахсий маълумотларини қайта ишланишига тўла розилигини билдиради.</strong></p>

                    <p>11.2.2.&nbsp;<strong>Шахсий маълумотларни, шу жумладан, фамилия, исм, отасининг исми, туғилган
                        йили, жинси, иш жойи ва лавозими, почта манзили; уй, иш ва мобил телефони рақамлари, электрон
                        почта манзили, Харидорнинг мавжуд қарздорлиги ва (ёки) миқдорини, шахсий баҳолаш (скоринг)
                        тизими ва харидорнинг кредит ва тўлов имконияти рейтингини аниқлаш доирасида фойдаланиш учун,
                        йиғиш, тизимлаштириш, тўплаш, сақлаш, аниқлаштириш (янгилаш, ўзгартириш) кабиларни ўз ичига
                        олган ҳолда, қайта ишлаш. Мазкур маълумотларни давлат органларига уларнинг қонуний талабларига
                        асосан тақдим қилиш. Маълумотларни фақат Ўзбекистон Республикаси ҳудуди ичида Сотувчининг
                        контрагентларига, кейинчалик уларни, хизматлар сифатини оширишга қаратилган тадқиқотларни олиб
                        бориш, маркетингга оид дастурлар ва статистик тадқиқотларни ўтказиш, шунингдек, харидор билан,
                        почта хизмати, электрон почта, телефон, факс орқали алоқа, Интернет тармоғи каби, аммо бу билан
                        чекланмаган, турли хил алоқа воситаларидан, фойдаланган ҳолда тўғридан‑тўғри алоқа ўрнатиш
                        орқали хизматларни тарғиб қилиш мақсадларида, (йиғиш, тизимлаштириш, тўплаш, сақлаш,
                        аниқлаштириш (янгилаш, ўзгартириш), фойдаланиш кабиларни ўз ичига олган ҳолда) қайта ишлашлари
                        учун юбориш.</strong></p>

                    <p>11.2.3.<strong>&nbsp;Сотувчига ва Сотувчининг контрагентларига Харидорнинг шахсий маълумотларини
                        автоматлаштирилган маълумотлар базасини бошқариш тизимлари, шунингдек Сотувчи номидан махсус
                        ишлаб чиқилган бошқа дастурий воситалар ёрдамида қайта ишлашга розилигини билдиради ва рухсат
                        беради. Бундай тизимлар билан ишлаш оператор томонидан белгиланган алгоритм бўйича амалга
                        оширилади (йиғиш, тизимлаштириш, тўплаш, сақлаш, такомиллаштириш, фойдаланиш, блокировка қилиш,
                        йўқ қилиш). Амалдаги ишлов бериш усуллари (ўз ичига олган, аммо булар билан чекланмаган ҳолда):
                        почта индексларини кодлар базаси билан автоматик текшириш, кўчалар/аҳоли пунктлари номларининг
                        имлосини автоматик текшириш, Харидор билан телефон, почта алоқалари орқали ёки интернет тармоғи
                        орқали контакт ёрдамида алоқага чиқиш йўли билан, маълумотларни Харидор билан биргаликда
                        аниқлаштириш, маълумотлар базасини белгиланган мезонларга мувофиқ сегментация қилиш. Харидор,
                        агар ушбу Умумий қоидаларда кўрсатилган мақсадларни амалга ошириш учун зарур бўлса, унинг
                        Сотувчи томондан қабул қилиб олинган маълумотлари Сотувчи томонидан, ушбу шахслар билан тузилган
                        битимга кўра, ушбу учинчи шахслар томонидан шахсий маълумотларнинг махфийлигини ва уларни қайта
                        ишлаш пайтида шахсий маълумотларнинг хавфсизлигини таъминлаш тўғрисидаги қонун ҳужжатлари
                        талабларига риоя қилиш шарти билан, Харидорнинг шахсий маълумотларини қайта ишлаш учун ишониб
                        топширилиши мумкин бўлган учинчи шахсларга юборилиши мумкинлигига розилигини билдиради.
                        Харидорнинг кўзда тутилган шахсий маълумотларини узатишда Сотувчи Харидорнинг шахсий
                        маълумотларини қабул қилиб олаётган шахсларни ушбу маълумотлар махфий саналиши ва улар Сотувчи
                        томонидан тайин қилинган мақсадлардагина ишлатилиши мумкинлиги тўғрисида огоҳлантиради ва ушбу
                        шахслардан бу қоидага риоя қилишни талаб қилади.</strong></p>

                    <p>11.2.4. Юқоридаги 11.2.4. бандга кўра Харидорнинг шахсий маълумотларини учинчи шахсларга ва
                        оммавий тарқатиш учун юборилган тақдирда, Сотувчи уч кун ичида Харидорни Интернет дўкондаги
                        шахсий кабинетига хабар ёки Харидорнинг мобил рақамига СМС‑хабар юбориш орқали хабардор
                        қилади.</p>

                    <p>11.3. Харидор Сотувчидан, тегишли ёзма сўровномани Сотувчининг почта манзилига, ёки Интернет
                        тармоғи орқали контакт ёрдамида, шунингдек, Харидорнинг шахсий кабинети орқали сўровнома юбориш
                        билан, ўзининг шахсий маълумотлари, уларни қайта ишлаш ва ишлатиш тўғрисида тўлиқ маълумотларни
                        сўрашга, шунингдек нотўғри ёки тўлиқ бўлмаган шахсий маълумотларни чиқариб ташлаш ёки
                        тўғрилаш/тўлдиришни талаб қилиш ҳуқуқига эга.</p>

                    <p>11.4. Харидор томонидан унинг шахсий маълумотларини қайта ишлашга бериладиган розилик муддатсиз
                        бўлиб, Сотувчининг почта манзилига, ёки Интернет тармоғи орқали контакт ёрдамида, шунингдек,
                        Харидорнинг шахсий кабинети орқали сўровнома юбориш билан бекор қилиниши мумкин.</p>

                    <p>11.5. Сотувчи ўз танловига кўра смс хабарлар хизматидан фойдаланмаслиги ва Харидорни буюртманинг
                        бажарилиш ҳолати тўғрисида, шунингдек, тўлов муддати ўтиб кетгани ва ўз вақтида тўламаслик
                        масалалари тўғрисида бошқа йўллар билан, шу жумладан, телефон қўнғироқлари ёрдамида ва/ёки
                        электрон почта орқали Харидор рўйхатдан ўтиш вақтида кўрсатган электрон манзилга хабар юбориб,
                        хабардор қилиши мумкин. Буюртмани топширишда Харидор бундай турдаги хабарномаларни тўлиқ ва
                        эътирозсиз олишга розилигини билдиради.</p>

                    <p>11.6. Ушбу Умумий қоидалар ва унга илова қилинган барча қўшимчалар Харидор учун тушунарли тилда
                        ёзилди.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}