{% extends "layouts/base.html" %}

{% block content %}
    <!-- MAIN  -->


    <section class="static-page">
        <div class="container">
            <div class="static-page__wrapper">
                <h1 class="static-page___head">Публичная оферта (Пользовательское соглашение)</h1>
                <div class="static-page__paragraph">
                    <p style="margin-left:21.3pt"><strong>ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ</strong></p>

                    <p style="margin-left:21.3pt">Пожалуйста, внимательно ознакомьтесь с положениями Пользовательского
                        соглашения перед тем, как воспользоваться услугами интернет-магазина asaxiy.uz</p>

                    <p style="margin-left:21.3pt">Настоящее Соглашение определяет условия использования Покупателями
                        материалов и сервисов сайта www.asaxiy.uz.</p>

                    <p style="margin-left:21.3pt">&nbsp;</p>

                    <p style="margin-left:21.3pt"><strong>1.&nbsp;</strong><strong>Термины и определения</strong></p>

                    <p style="margin-left:21.3pt">1.1. Продавец &mdash; интернет-магазин asaxiy.uz.</p>

                    <p style="margin-left:21.3pt">1.2. Покупатель &mdash; физическое лицо, разместившее через сайт или
                        телефон заказ на приобретение товаров и услуг, размещённых на сайте asaxiy.uz и безоговорочно
                        принявшее данное Пользовательское соглашение.</p>

                    <p style="margin-left:21.3pt">1.3. Товар &ndash; объект соглашения сторон &ndash; товары и услуги,
                        представленные на сайте asaxiy.uz.</p>

                    <p style="margin-left:21.3pt">&nbsp;</p>

                    <p style="margin-left:21.3pt"><strong>2.&nbsp;</strong><strong>Общие положения</strong></p>

                    <p style="margin-left:21.3pt">2.1. Данное Пользовательское соглашение (далее &ndash; Договор)
                        определяет порядок и условия, на которых Продавец предоставляет товары и услуги Покупателю.</p>

                    <p style="margin-left:21.3pt">2.2. Продавец имеет право в одностороннем порядке вносить изменения в
                        настоящие Правила.</p>

                    <p style="margin-left:21.3pt">2.3. Все фото-, видео- и текстовые материалы, представленные на сайте
                        интернет-магазина asaxiy.uz, носят исключительно ознакомительный характер и, в силу технических
                        обстоятельств, не могут в полной мере передавать достоверную информацию об определенных
                        свойствах и характеристиках Товара, таких как: цвет, форма, размер, комплектация и т.д. При
                        возникновении у Покупателя вопросов относительно свойств и характеристик Товара, ему следует
                        обратиться к консультанту интернет-магазина по номеру 200-01-05.</p>

                    <p style="margin-left:21.3pt">&nbsp;</p>

                    <p style="margin-left:21.3pt"><strong>3.&nbsp;</strong><strong>Предмет Договора и стоимость
                        Товара.</strong></p>

                    <p style="margin-left:21.3pt">3.1. Продавец передает, а Покупатель принимает и оплачивает товары на
                        условиях, указанных в настоящем Договоре. Право собственности на Заказанные Товары переходит к
                        Покупателю с момента фактической передачи Товара Покупателю и оплаты последним полной стоимости
                        Товара. Риск случайной гибели или повреждения Товара переходит к Покупателю с момента
                        фактической передачи Товара Покупателю.</p>

                    <p style="margin-left:21.3pt">3.2. Стоимость Товара определяется Продавцом в одностороннем
                        бесспорном порядке и указывается на страницах интернет-магазина asaxiy.uz в национальной валюте
                        Республики Узбекистан &mdash; сум.</p>

                    <p style="margin-left:21.3pt">3.3. Предложение о заключении договора на конкретный товар действует в
                        течение всего срока нахождения товара, представленного в виде графических образов, на сайте
                        интернет-магазина asaxiy.uz.</p>

                    <p style="margin-left:21.3pt">&nbsp;</p>

                    <p style="margin-left:21.3pt"><strong>4. Персональные данные</strong></p>

                    <p style="margin-left:21.3pt">4.1. Продавец обрабатывает персональные данные, электронные документы
                        и сообщения Покупателя и обеспечивает их конфиденциальность согласно законодательству. Продавец
                        использует персональные данные Покупателя в целях исполнения договора, и не передает их третьим
                        лицам. Продавец также не использует персональные данные без согласия Пользователя для
                        распространения оферты и (или) рекламы, в том числе путем массовой рассылки электронных
                        документов или электронных сообщений.</p>

                    <p style="margin-left:21.3pt">&nbsp;</p>

                    <p style="margin-left:21.3pt"><strong>5. Обязательства сторон</strong></p>

                    <p style="margin-left:21.3pt">5.1. Обязательства Продавца:</p>

                    <p style="margin-left:21.3pt">5.1.1. Предоставить Покупателю необходимую и достоверную информацию о
                        Товаре.</p>

                    <p style="margin-left:21.3pt">5.2. Обязательства Покупателя:</p>

                    <p style="margin-left:21.3pt">5.2.1. Выполнять условия настоящих Правил;</p>

                    <p style="margin-left:21.3pt">5.2.2. Тщательно проверять правильность оформления выбранного Заказа
                        (сумма, выбранный Товар, количество Товара и т.д.) до его оплаты;</p>

                    <p style="margin-left:21.3pt">5.2.3. Следить за сообщениями и уведомлениями для Покупателей,
                        публикуемыми Интернет-магазином на сайте asaxiy.uz и в соцсетях.</p>

                    <p style="margin-left:21.3pt">&nbsp;</p>

                    <p style="margin-left:21.3pt"><strong>6. Права сторон</strong></p>

                    <p style="margin-left:21.3pt">6.1. Продавец имеет право:</p>

                    <p style="margin-left:21.3pt">6.1.1. приостанавливать функционирование Интернет-магазина при
                        обнаружении существенных неисправностей, ошибок и сбоев, а также в целях проведения
                        профилактических работ и предотвращения случаев несанкционированного доступа в систему
                        Интернет-магазина;</p>

                    <p style="margin-left:21.3pt">6.1.2. изменять настоящие Правила, цены на Товар и тарифы на услуги,
                        способы и сроки оплаты и доставки Товара в одностороннем порядке. Все изменения вступают в силу
                        немедленно после публикации в&nbsp;Интернет-магазине, и считаются доведенными до сведения
                        Покупателя с момента такой публикации;</p>

                    <p style="margin-left:21.3pt">6.1.3. Осуществлять запись телефонных разговоров с Покупателем.</p>

                    <p style="margin-left:21.3pt">6.2. Покупатель имеет право:</p>

                    <p style="margin-left:21.3pt">6.2.1. Обращаться в Интернет-магазин за консультацией.</p>

                    <p style="margin-left:21.3pt">&nbsp;</p>

                    <p style="margin-left:21.3pt"><strong>7. Ответственность сторон</strong></p>

                    <p style="margin-left:21.3pt">7.1. Покупатель несёт ответственность за содержание и достоверность
                        информации, предоставленной при оформлении Заказа. В случаях неисполнения или ненадлежащего
                        исполнения Покупателем своих обязательств по настоящим Правилам, Покупатель несет
                        ответственность согласно действующему законодательству Республики Узбекистан.</p>

                    <p style="margin-left:21.3pt">7.2. Продавец не несет ответственности за:</p>

                    <p style="margin-left:21.3pt">7.2.1. содержание и достоверность сведений, содержащихся в информации,
                        предоставленной Поставщиками.</p>

                    <p style="margin-left:21.3pt">7.2.2. временное отсутствие у Покупателя доступа к Интернет-магазину,
                        а также связанные с этим любые последствия;</p>

                    <p style="margin-left:21.3pt">7.2.3. форс-мажорные обстоятельства, случившиеся не по вине
                        Продавца;</p>

                    <p style="margin-left:21.3pt">7.2.4. любые случайные или специальные убытки, включая любые потери
                        дохода или сбережений, причиненные действиями Покупателя третьим лицам;</p>

                    <p style="margin-left:21.3pt">7.2.5. за любые возможные действия, совершённые с использованием
                        идентификационных данных Покупателя, в том числе и в случаях, когда такие данные были разглашены
                        Покупателем.</p>

                    <p style="margin-left:21.3pt">7.3. Продавец не отвечает за какие&ndash;либо убытки или упущенную
                        выгоду Покупателя, возникшие в результате:</p>

                    <p style="margin-left:21.3pt">7.3.1. использование&nbsp;Интернет-магазина, в том числе неправильного
                        заполнения реквизитов, предоставляемых во время оформления Заказа;</p>

                    <p style="margin-left:21.3pt">7.3.2. наличия &laquo;вирусов&raquo; и иных вредоносных программ в
                        оборудовании и программном обеспечении, используемом Покупателем для доступа к
                        Интернет-магазину.</p>

                    <p style="margin-left:21.3pt">7.3.3. неправомерных действий третьих лиц, в том числе связанных с
                        использованием идентификационных данных Покупателя.</p>

                    <p style="margin-left:21.3pt">&nbsp;</p>

                    <p style="margin-left:21.3pt"><strong>8. &nbsp;Порядок заключения&nbsp;договора</strong></p>

                    <p style="margin-left:21.3pt">8.1. Договор купли-продажи Товара заключается между Продавцом и
                        Покупателем на условиях настоящих Правил в момент получения Покупателем, направившим оферту,
                        акцепта Поставщика.</p>

                    <p style="margin-left:21.3pt">8.2. Покупатель, желающий приобрести Товар, звонит в интернет-магазин
                        и оформляет Заказ. При оформлении заказа Покупатель должен назвать консультанту:</p>

                    <p style="margin-left:21.3pt">&middot; марку и модель приобретаемого товара;</p>

                    <p style="margin-left:21.3pt">&middot; количество товара;</p>

                    <p style="margin-left:21.3pt">&middot; свои контактные данные;</p>

                    <p style="margin-left:21.3pt">&middot; форму оплаты: наличные, терминал, корпоративная карта,
                        рассрочка;</p>

                    <p style="margin-left:21.3pt">&middot; адрес и время доставки товара.</p>

                    <p style="margin-left:21.3pt">8.3. Заказ является офертой Покупателя, направленной Продавцу.
                        Оформление Заказа означает согласие Покупателя оплатить указанную стоимость Товара.</p>

                    <p style="margin-left:21.3pt">&nbsp;</p>

                    <p style="margin-left:21.3pt"><strong>9. Способы оплаты</strong></p>

                    <p style="margin-left:21.3pt">9.1. Для оплаты приобретаемого Товара в Интернет-магазине Покупатель
                        может осуществить оплату используя банковские карты (UZCARD, HUMO, VISA и MASTERCARD) и иные
                        электронные средства платежа через различные платежные инструменты (например, PAYME, CLICK, OCTO
                        и др.). В силу деятельности Интернет-магазина в рамках электронной коммерции на начальном этапе
                        оплата может быть произведена Покупателем только&nbsp;вышеуказанным способом.</p>

                    <p style="margin-left:21.3pt">Для этого на страницах Интернет-магазина Покупателю будет предложено
                        оплатить Товар(ы) через платежные инструменты, с которыми сотрудничает Интернет - магазин и
                        Покупатель может произвести оплату онлайн следуя инструкциям на сайте.</p>

                    <p style="margin-left:21.3pt">9.2. Все Товары реализуются в рассрочку посредством электронной
                        коммерции. В случае покупки Товара в рассрочку, оплата производится Покупателем ежемесячно,
                        равными долями, в соответствии с графиком платежей, выбранным Покупателем при заказе Товара
                        через личный кабинет.</p>

                    <p style="margin-left:21.3pt"><strong>10. Доставка заказа. Переход права собственности.</strong></p>

                    <p style="margin-left:21.3pt">10.1. При оформлении Заказа, Покупатель может воспользоваться
                        возмездной услугой Компании по доставке Товара.</p>

                    <p style="margin-left:21.3pt">10.2. Доставка товара осуществляется только в пределах страны
                        Узбекистан.</p>

                    <p style="margin-left:21.3pt">10.3. Доставка Заказа Покупателю осуществляется по адресу доставки,
                        указанному Покупателем при оформлении Заказа.</p>

                    <p style="margin-left:21.3pt">10.4. Срок доставки определяется в момент оформления Заказа в
                        зависимости от указанного адреса доставки, наличии товара и его специфики.</p>

                    <p style="margin-left:21.3pt">10.5. Указанные сроки доставки могут быть изменены, о чем Пользователь
                        уведомляется в Интернет-магазине, в Личном Кабинете или по телефону.</p>

                    <p style="margin-left:21.3pt">10.6. Для доставки Заказа, Продавец может использовать услуги третьих
                        лиц.</p>

                    <p style="margin-left:21.3pt">10.7. Право собственности на Товар переходит к Покупателю в момент
                        принятия им Заказа от Курьера и подписания документов на получение Заказа.</p>

                    <p style="margin-left:21.3pt">10.8. Покупатель обязан произвести приемку Товара по количеству,
                        наименованию и качеству в момент получения Заказа (если это возможно), посредством проверки его
                        целостности и комплектности, и подписать документы на получение Заказа.</p>

                    <p style="margin-left:21.3pt">10.9. В момент приёма Заказа, Покупатель, или иное лицо, принимающее
                        Заказ, предоставить документ, удостоверяющий его личность.</p>

                    <p style="margin-left:21.3pt">10.10. Курьер имеет право не передавать Заказ в следующих случаях:</p>

                    <p style="margin-left:21.3pt">10.10.1. Покупатель, или иное лицо, принимающее Заказ, не предоставил
                        документ, удостоверяющий личность Покупателя;</p>

                    <p style="margin-left:21.3pt">10.10.2. Покупатель, или иное лицо, принимающее Заказ, отказался
                        (-ось) подписывать документы на получение Заказа и/или оплачивать Заказ, включая стоимость
                        доставки;</p>

                    <p style="margin-left:21.3pt">10.10.3. в иных случаях, предусмотренных законодательством, настоящими
                        Правилами или иными документами, в том числе теми, которыми руководствуется курьерская
                        служба.</p>

                    <p style="margin-left:21.3pt">10.11. Покупатель вправе отказаться от Заказа полностью или частично в
                        момент передачи Заказа Курьером. В случае отказа от Заказа полностью или частично, Покупатель
                        обязуется подписать соответствующие документы с указанием причин отказа от Заказа и передать его
                        Курьеру. В случае отказа, Покупатель обязан компенсировать Продавцу стоимость понесенных им
                        расходов на доставку Товара путем передачи денежных средств Курьеру.</p>

                    <p style="margin-left:21.3pt">10.12. В случае, если Покупатель безосновательно отказывается от
                        подписания документов по приемке Товара и не предъявляет письменных претензий по качеству
                        предоставленных Продавцом услуг согласно условиям настоящих Правил, то услуги, выполненные
                        Продавцом, считаются исполненными надлежащим образом, и принятыми Покупателем.</p>

                    <p style="margin-left:21.3pt">&nbsp;</p>

                    <p style="margin-left:21.3pt"><strong>11. Отмена заказа. Обмен и возврат товара.</strong></p>

                    <p style="margin-left:21.3pt">11.1. Отмена Заказа.&nbsp;Покупатель вправе отказаться от Заказа
                        полностью или частично до момента направления Покупателю Сообщения-подтверждения Отгрузки. Для
                        отмены Заказа, Покупателю необходимо связаться с Продавцом и сообщить о намерении отказаться от
                        Заказа.</p>

                    <p style="margin-left:21.3pt">11.2. Обмен Товара надлежащего качества. Согласно законодательству,
                        Покупатель вправе в течение 10 (десяти) дней с момента передачи ему непродовольственного Товара
                        надлежащего качества обменять купленный Товар на аналогичный без возврата денег и оформления
                        нового Заказа. Требования Покупателя об обмене либо возврате Товара подлежат удовлетворению,
                        если Товар не был в употреблении, сохранены его товарный вид, потребительские свойства, пломбы,
                        ярлыки, а также имеются доказательства приобретения у&nbsp;Продавца, за исключением
                        непродовольственных Товаров надлежащего качества, не подлежащих возврату или обмену на
                        аналогичный Товар согласно законодательству.&nbsp;Для обмена Товара надлежащего качества,
                        Покупателю необходимо связаться с Компанией и сообщить о намерении обмена.&nbsp;При отсутствии у
                        Поставщика необходимого для обмена Товара, Покупатель вправе возвратить приобретенный Товар&nbsp;Продавцу&nbsp;и
                        получить уплаченную за него денежную сумму.</p>

                    <p style="margin-left:21.3pt">11.3. Товар ненадлежащего качества. В отношении Товара ненадлежащего
                        качества, Покупатель вправе по своему выбору предъявить Поставщику установленные требования
                        (например, замена, устранения недостатков Товара) либо отказаться от приобретенного Товара и
                        потребовать возврата уплаченной за Товар денежной суммы согласно законодательству.&nbsp;Для
                        предъявления требований либо отказа от Товара, Покупателю необходимо связаться с Продавцом и
                        сообщить о своем намерении.</p>

                    <p style="margin-left:21.3pt">11.4. Возврат денег.&nbsp;Способ возврата денег будет согласовываться
                        между сторонами.</p>

                    <p style="margin-left:21.3pt">11.5. Расходы на возврат Товара. В случае возврата Товара надлежащего
                        качества, расходы компенсируются Покупателем. В случае возврата Товара ненадлежащего качества,
                        расходы компенсируются Поставщиком.</p>

                    <p style="margin-left:21.3pt">&nbsp;</p>

                    <p style="margin-left:21.3pt"><strong>12. Предъявление претензий</strong></p>

                    <p style="margin-left:21.3pt">12.1. После приемки Заказа и подписания документов на получение
                        Заказа, претензии Продавцом не принимаются, кроме претензий, связанных с недостатками
                        Товара.</p>

                    <p style="margin-left:21.3pt">12.2. Покупатель вправе предъявить требования к Продавцу в
                        претензионном порядке.</p>

                    <p style="margin-left:21.3pt">12.3. В случае спора о причинах возникновения недостатков в период
                        указанного срока, Продавец может провести экспертизу Товара. В случае если экспертизой,
                        проводимой за счет Продавца, будет установлено, что недостатки возникли вследствие
                        обстоятельств, за которые Продавец не отвечает, Покупатель обязуется возместить стоимость такой
                        экспертизы Продавцу.</p>

                    <p style="margin-left:21.3pt">12.4. При выявлении каких-либо дефектов или повреждений Поставщик
                        несет ответственность за ненадлежащее качество, за исключением случаев возникновение дефектов по
                        вине Покупателя и при транспортировке товара Продавцом.</p>

                    <p style="margin-left:21.3pt">&nbsp;</p>

                    <p style="margin-left:21.3pt"><strong>13. Ответственность сторон</strong></p>

                    <p style="margin-left:21.3pt">13.1. За неисполнение или ненадлежащее исполнение условий настоящего
                        Договора Стороны несут ответственность в соответствии с законодательством Республики
                        Узбекистан.</p>

                    <p style="margin-left:21.3pt">&nbsp;</p>

                    <p style="margin-left:21.3pt"><strong>14. Форс-мажор.</strong></p>

                    <p style="margin-left:21.3pt">14.1. Любая из Сторон освобождается от ответственности за полное или
                        частичное неисполнение своих обязательств по настоящему Договору, если это неисполнение было
                        вызвано обстоятельствами непреодолимой силы, возникшими после подписания настоящего Договора,
                        которые ни одна из Сторон не могла предвидеть или предотвратить доступными ей средствами. Такие
                        чрезвычайные события или обстоятельства включают в себя, в частности: забастовки, наводнения,
                        пожары, землетрясения и иные стихийные бедствия, войны, военные действия, действия
                        государственных органов Республики Узбекистан или иных государств, а также любые иные
                        обстоятельства, выходящие за пределы разумного контроля любой из Сторон. Изменения действующего
                        законодательства или нормативных актов, прямо или косвенно влияющие на какую-либо из Сторон, не
                        рассматриваются как Обстоятельства непреодолимой силы, однако, в случае внесения таких
                        изменений, которые не позволяют любой из Сторон исполнить какие-либо из ее обязательств по
                        настоящему Договору, Стороны обязаны незамедлительно принять решение относительно порядка работы
                        по устранению этой проблемы с тем, чтобы обеспечить Сторонам продолжение исполнения настоящего
                        Договора.</p>

                    <p style="margin-left:21.3pt">&nbsp;</p>

                    <p style="margin-left:21.3pt"><strong>15. Порядок изменения правил</strong></p>

                    <p style="margin-left:21.3pt">15.1. Продавец может в любое время внести изменения (дополнения) в
                        настоящие Правила в одностороннем порядке путем размещения сообщения на сайте asaxiy.uz.</p>

                    <p style="margin-left:21.3pt">&nbsp;</p>

                    <p style="margin-left:21.3pt"><strong>16. Разрешение споров</strong></p>

                    <p style="margin-left:21.3pt">16.1. Все споры и разногласия, возникшие в связи с исполнением Оферты,
                        разрешаются путем переговоров.</p>

                    <p style="margin-left:21.3pt">16.2. Споры касательно качества и поставки Товара/Заказа, решаются
                        путем, установленным Продавцом.</p>

                    <p style="margin-left:21.3pt">16.3. В случае невозможности урегулирования споров путем переговоров,
                        спор подлежит разрешению в соответствии с действующим законодательством Республики
                        Узбекистан.</p>

                    <p style="margin-left:21.3pt">&nbsp;</p>

                    <p style="margin-left:21.3pt"><strong>17. Применимое право</strong></p>

                    <p style="margin-left:21.3pt">17.1. В случае возникновения вопросов, не урегулированных в настоящем
                        Соглашении, Стороны руководствуются Законодательством Республики Узбекистан.</p>

                    <p style="margin-left:21.3pt">17.2. В случае противоречия отдельных положений настоящего Соглашения
                        Законодательству, применяются нормы Законодательства Республики Узбекистан. Недействительность
                        отдельных положений не влечет за собой недействительность Соглашения в целом.</p>

                    <p style="margin-left:21.3pt">Покупатель, подтверждая свое согласие с условиями настоящего
                        Соглашения, подтверждает тем самым свое ознакомление и полное согласие по всем его пунктам.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- MAIN END -->
{% endblock %}