{% load static %}

<!DOCTYPE html>
<html lang="ru" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="yandex-verification" content="0cb4a9cee0cdf876"/>
    <meta name="google-site-verification" content="EsT5FqSKWFQgyhtAygordALmrUNDppoWkonFgssmPOo"/>
    <meta name="google-site-verification" content="TOh5XT9cezL7Pfgmumf0bWmpOQNnEx2yASw-s4ckLKk"/>
    <meta name="csrf-param" content="_csrf-asaxiy">
    <meta name="csrf-token"
          content="vWyJSsA8j08H5JU_ZnftkNfSpFJjhKuM865A-cGL98T2Kch5knfVIV2mwgsnFIzp4pP2ODfDk-fK7xqVsc6hrg==">
    <title>Интернет магазин ASAXIY - бытовая техники и электроника с доставкой по Ташкенту и Узбекистану - купить в
        ASAXIY</title>
    <link rel="canonical" href="index.html">
    <link rel="alternate" hreflang="x-default" href="index.html">
    <link rel="alternate" hreflang="ru" href="index.html">
    {% include "layouts/styles.html" %}
    <script type="text/javascript"
            src="https://api-maps.yandex.ru/2.1?apikey=3cf9dc24-cdc9-40e7-8a05-50694330af58&amp;lang=ru_RU"></script>
</head>

<body>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0"></script>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KVMPPGL"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<div style="display: none;">
    <svg width="15" height="15" fill="none" xmlns="http://www.w3.org/2000/svg" id="comment-icon">
        <path d="M10.5 7.5a1 1 0 01-1 1h-6l-2 2v-8a1 1 0 011-1h7a1 1 0 011 1v5z" stroke="#C3C6D1" stroke-width="1.5"
              stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
</div>

<!-- HEADER  -->
{% include "layouts/header.html" %}
<!-- HEADER END  -->


<!-- SIDEBAR  -->
{% include "layouts/sidebar.html" %}
<!-- SIDEBAR END  -->


<!-- MAIN  -->
<main>

    {% block content %}

    {% endblock %}
{% include "layouts/brands.html" %}
</main>
<!-- MAIN END -->


<!--DOWNLOAD APP -->
<section class="section mb-40">
    <div class="container">
        <div class="download__app">
            <div class="app-content">
                <div class="download__app-header">
                    <a class="logo" href="index.html">
                        <img data-src="{% static "custom-assets/images/logos/asaxiy-logo-white.svg" %}" class="lazyload"
                             alt="asaxiy logo" loading="lazy">
                    </a>
                    <p>Ваш интернет магазин</p>
                </div>
                <div class="download__app-footer">
                    <a class="app-link" href="https://apps.apple.com/uz/app/asaxiy-market/id1532401944" rel="nofollow"
                       target="_blank">
                        <img data-src="{% static "custom-assets/images/app-store.svg" %}" class="lazyload"
                             alt="asaxiy market app" loading="lazy">
                    </a>
                    <a class="app-link" href="https://play.google.com/store/apps/details?id=uz.asaxiy.market"
                       rel="nofollow"
                       target="_blank">
                        <img data-src="{% static "custom-assets/images/google-play.svg" %}" class="lazyload" alt="asaxiy market app"
                             loading="lazy">
                    </a>
                    <a class="app-link" href="https://appgallery.huawei.com/app/C107759131"
                       rel="nofollow"
                       target="_blank">
                        <img data-src="{% static "custom-assets/images/app-gallery.svg" %}" class="lazyload" alt="asaxiy market app"
                             loading="lazy">
                    </a>
                </div>
            </div>
            <div class="app-img d-none d-md-flex justify-content-md-center">
                <img data-src="{% static "custom-assets/images/asaxiy-apps.png" %}" class="lazyload" alt="asaxiy app image"
                     loading="lazy">
            </div>
        </div>
    </div>
</section>
<!--DOWNLOAD APP END -->


<section class="features">
    <div class="container">
        <div class="features__list">
            <a href="index.html#" class="feature__item pointer__e-none">
                <div class="feature__img">
                    <img class="img-fluid lazyload" data-src="{% static "custom-assets/images/icons/market.svg" %}" alt="market"
                         loading="lazy">
                </div>
                <div class="feature__text">
                    <div class="feature__title">Больше не нужно ходить на базар</div>
                    <p>У нас выгодные цены и доставка до дома</p>
                </div>
            </a>
            <a href="{% url "news:delivery" %}" class="feature__item">
                <div class="feature__img">
                    <img class="img-fluid lazyload" data-src="{% static "custom-assets/images/icons/fast-delivery.svg" %}"
                         alt="delivery" loading="lazy">
                </div>
                <div class="feature__text">
                    <div class="feature__title">Быстрая доставка</div>
                    <p>Наш сервис удивит вас</p>
                </div>
            </a>
            <a href="{% url "news:rules" %}" class="feature__item">
                <div class="feature__img">
                    <img class="img-fluid lazyload" data-src="{% static "custom-assets/images/icons/return.svg" %}" alt="return"
                         loading="lazy" style="max-width: none;">
                </div>
                <div class="feature__text">
                    <div class="feature__title">Удобства для вас</div>
                    <p>Быстрое оформление и гарантия на возврат в случае неисправности</p>
                </div>
            </a>
            <a href="{% url "news:usloviya_rass" %}" class="feature__item">
                <div class="feature__img">
                    <img class="img-fluid lazyload" data-src="{% static "custom-assets/images/icons/card.svg" %}" alt="card"
                         loading="lazy">
                </div>
                <div class="feature__text">
                    <div class="feature__title">Рассрочка</div>
                    <p>Без предоплаты 12 месяцев</p>
                </div>
            </a>
        </div>
    </div>
</section>

<!-- FOOTER  -->
{% include "layouts/footer.html" %}
<!-- FOOTER END  -->

<div class="chat_widget">
    <div class="chat_widget-content mb-3 d-none">
        <div class="chat_widget-header d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
                <div class="bg-white chat_widget-logo d-flex align-items-center justify-content-center">
                    <img class="img-fluid" src="{% static "custom-assets/images/logos/l-b.svg" %}" alt="asaxiy logo">
                </div>
                Служба поддержки
            </div>
            <button class="btn chat_widget-close p-0">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15 5L5 15" stroke="white" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round"/>
                    <path d="M5 5L15 15" stroke="white" stroke-width="1.5" stroke-linecap="round"
                          stroke-linejoin="round"/>
                </svg>

            </button>
        </div>

        <div class="chat_widget-types">
            <div class="p-3 chat_types-header">Выберите тип чата!</div>
            <ul class="chat_types-list py-4 px-3">
                <li>
                    <button type="button"
                            class="btn chat_hidden_button" data-toggle="modal"
                            data-target="#profile-modal">Прямой чат
                    </button>
                </li>
                <li>
                    <a href="https://asaxiybot.t.me">Telegram</a>
                </li>
                <li>
                    <a href="https://asaxiy.uz/page/faq"
                       class="faq">Часто задаваемые вопросы</a>
                </li>
            </ul>
        </div>
        <div class="chat_widget-window d-none">
            <div class="chat_window-content d-none">
                <div class="text-center chat_window-day">6-iyun, 18:21</div>
                <div class="conversation_item right">
                    <div class="conversation_item_body">
                        <p>
                            Assalomu Alaykum xurmatli mijoz.
                            Sizga qanday yordam bera olaman.
                        </p>
                    </div>
                </div>

                <div class="conversation_item left">
                    <div class="conversation_item_avatar flex-shrink-0 align-self-end">
                        <img src="custom-assets/images/logos/l-w.svg" width="14" height="14" alt="admin">
                    </div>
                    <div class="conversation_item_body">
                        <p>
                            Assalomu Alaykum. Menda mahsulot sotib olish bo’yicha savollar bor edi
                        </p>
                    </div>
                </div>

                <div class="conversation_item right">
                    <div class="conversation_item_body">
                        <p>
                            Assalomu Alaykum xurmatli mijoz.Sizga qanday yordam bera olaman.
                        </p>
                    </div>
                </div>

                <div class="conversation_item right">
                    <div class="conversation_item_body">
                        <p>
                            Assalomu Alaykum xurmatli mijoz.Sizga qanday yordam bera olaman.
                        </p>
                    </div>
                </div>

                <div class="conversation_item right">
                    <div class="conversation_item_body">
                        <p>
                            Assalomu Alaykum xurmatli mijoz.Sizga qanday yordam bera olaman.
                        </p>
                    </div>
                </div>
                <div class="conversation_item right">
                    <div class="conversation_item_body">
                        <p>
                            Assalomu Alaykum xurmatli mijoz.Sizga qanday yordam bera olaman.
                        </p>
                    </div>
                </div>
            </div>
            <div class="chat_window-content">
                <div class="text-center chat_window-day">Скоро...</div>
            </div>
            <form>
                <div class="chat_window-typing">
                    <!--                    <button></button>-->
                    <textarea id="chatInput" placeholder="Написать сообщение"></textarea>
                    <button class="btn chat_window-send p-0">
                        <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                    d="M16.928 6.34616L2.40516 0.138186C1.79334 -0.123374 1.10213 -0.00831231 0.601328 0.438317C0.100527 0.885019 -0.108934 1.57329 0.0547532 2.23451L1.34741 7.45673H7.67646C7.9677 7.45673 8.20384 7.69996 8.20384 8.00002C8.20384 8.30004 7.96773 8.54331 7.67646 8.54331H1.34741L0.0547532 13.7655C-0.108934 14.4267 0.100491 15.115 0.601328 15.5617C1.10315 16.0092 1.79443 16.1229 2.4052 15.8618L16.9281 9.65387C17.5893 9.37124 18 8.73751 18 8.00002C18 7.26253 17.5893 6.62877 16.928 6.34616Z"
                                    fill="#008DFF"/>
                        </svg>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <button type="button" class="chat_widget-button d-flex align-items-center justify-content-center ml-auto btn p-0">
        <img class="img-fluid" src="{% static "custom-assets/images/logos/l-w.svg" %}" alt="asaxiy logo">
    </button>
</div>
<div class="modal i__modal fade" id="installment" tabindex="-1"
     role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xs" role="document">
        <div class="modal-content position-relative">
            <div class="modal-header">
                <h5 class="modal-title">Купить в рассрочку</h5>
                <button type="button" class="btn login__close close" data-dismiss="modal">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>


<div class="modal give__feedback-modal feedback__modal awesome__modal fade" id="one-click" tabindex="-1"
     role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content position-relative">
            <div class="modal-header">
                <h5 class="modal-title">Оформление заказа</h5>
                <button type="button" class="btn login__close close" data-dismiss="modal">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>

<!-- LOGIN MODAL  -->
{% include "layouts/login_modal.html" %}
<!-- LOGIN MODAL END  -->

<!-- ADD CARD MODAL  -->
<div class="modal give__feedback-modal awesome__modal fade" id="addCardModal" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 500px!important;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Yangi karta qo'shish</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="control-label">Card number:</label>
                        <input type="number" class="form-control" placeholder="Karta raqamini yozing">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Expiry:</label>
                        <input type="number" class="form-control" placeholder="Amal qilish muddati">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="w-100">
                    <button type="button" class="btn default-btn btn-primary-custom w-100 py-2">Add new card</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ADD CARD MODAL END  -->

<!-- GO TOP  -->
<div class="go-top d-none">
    <div><i class="fas fa-angle-up"></i></div>
</div>
<!-- GO TOP END  -->

<div id="loader" class="loader" style="display: none"></div>

<!-- LOADER  -->
<div id="as__loader">
    <div class="as__loader-content">
        <div class="lds-roller">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
<!-- LOADER  END-->
<!-- BEGIN JIVOSITE CODE {literal} -->
<!-- {/literal} END JIVOSITE CODE -->
{% include "layouts/scripts.html" %}
</body>
</html>

<script>
    function clickToCallGtag() {
        gtag('event', 'click_phone_number',
            {
                event_category: 'Phone Number Link',
                event_action: 'Click to Call',
                event_label: '+998712000105'
            }
        )
    }
</script>