{% load static %}

<footer class="footer ">
    <div class="container">
        <div class="row mb-4">
            <div class="col-lg-6 col-xl-4">
                <div class="footer__list mb-4 mb-lg-0">
                    <p class="footer__list-title">Информация</p>
                    <ul>
                        <li>
                            <a href="{% url "news:faq" %}">Часто задаваемые вопросы</a>
                        </li>
                        <li>
                            <a href="{% url "news:delivery_points" %}">Пункты выдачи</a>
                        </li>
                        <li>
                            <a href="{% url "news:news" %}">Блог</a>
                        </li>
                        <li>
                            <a href="{% url "shared:brands" %}">Наши бренды</a>
                        </li>
                        <li>
                            <a href="https://asaxiy.uz/page/rules">Публичная оферта (Пользовательское соглашение)</a>
                        </li>
                        <li>
                            <a href="https://asaxiy.uz/page/oferta-rassrochka">Оферта для покупок в рассрочку</a>
                        </li>
                        <li>
                            <a href="https://asaxiy.uz/page/about">О нас</a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-xl-3">
                <div class="footer__list mb-4">
                    <p class="footer__list-title">Для связи</p>
                    <ul>
                        <li>
                            <a onclick="clickToCallGtag()" href="tel:+998 71 200 01 05">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-telephone-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                          d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                                </svg>
                                &nbsp;+998 71 200 01 05 </a>
                        </li>
                        <li>
                            <a href="mailto:info@asaxiy.uz">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-envelope" viewBox="0 0 16 16">
                                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                                </svg>
                                &nbsp;info@asaxiy.uz </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-geo-alt" viewBox="0 0 16 16">
                                    <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                </svg>
                                &nbsp;улица Ислама Каримова, 49, Ташкент </a>
                        </li>
                    </ul>
                </div>

                <div class="footer__list mb-4 mb-lg-0">
                    <p class="footer__list-title">Книжные магазины</p>
                    <ul>
                        <li>
                            <noindex>
                                <a href="https://goo.gl/maps/74gnAL6kdU6oJShU8" target="_blank" rel="nofollow">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-geo-alt" viewBox="0 0 16 16">
                                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                    </svg>
                                    &nbsp;Asaxiy Novza </a>
                            </noindex>
                        </li>
                        <li>
                            <noindex>
                                <a href="https://goo.gl/maps/stcHQLDNxNoDQdhA6" target="_blank" rel="nofollow">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-geo-alt" viewBox="0 0 16 16">
                                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                    </svg>
                                    &nbsp;Asaxiy Farhod bozori </a>
                            </noindex>
                        </li>
                        <li>
                            <noindex>
                                <a href="https://goo.gl/maps/AimmZtjPPUKroUDU8" target="_blank" rel="nofollow">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-geo-alt" viewBox="0 0 16 16">
                                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                    </svg>
                                    &nbsp;Asaxiy Panorama </a>
                            </noindex>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-xl-2">
                <div class="footer__list mb-4">
                    <p class="footer__list-title">Наши достижения</p>
                    <ul>
                        <li>
                            <noindex>

                                <a href="https://kun.uz/uz/news/2019/12/16/tahsin-mukofoti-goliblari-taqdirlandi"
                                   target="_blank" rel="nofollow">
                                    Премия "Tahsin" </a>
                            </noindex>

                        </li>
                        <li>
                            <noindex>

                                <a href="https://kun.uz/uz/40797306" target="_blank" rel="nofollow">
                                    Медаль "Shuhrat" </a>
                            </noindex>

                        </li>
                        <li>
                            <noindex>

                                <a href="https://kun.uz/uz/news/2021/06/30/foto-shavkat-mirziyoyev-faol-yoshlarni-orden-va-medallar-bilan-taqdirladi"
                                   target="_blank" rel="nofollow">
                                    Медаль "Kelajak bunyodkori" </a>
                            </noindex>

                        </li>
                    </ul>
                </div>

                <div class="footer__socials mb-4 mb-lg-0">
                    <p class="footer__list-title">Мы в соц. сетях</p>
                    <ul class="row g-3">
                        <li class="col-auto">
                            <noindex>
                                <a href="https://www.facebook.com/asaxiyshop/" target="_blank" rel="nofollow">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </noindex>
                        </li>
                        <li class="col-auto">
                            <noindex>
                                <a href="https://t.me/asaxiyuz" target="_blank" rel="nofollow">
                                    <i class="fab fa-telegram"></i>
                                </a>
                            </noindex>
                        </li>
                        <li class="col-auto">
                            <noindex>
                                <a href="https://www.instagram.com/asaxiyshop/" target="_blank" rel="nofollow">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </noindex>
                        </li>
                        <li class="col-auto">
                            <noindex>
                                <a href="https://www.youtube.com/channel/UC0UaPm4AlSkAU7U88H8jhhQ" target="_blank"
                                   rel="nofollow">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </noindex>
                        </li>
                        <li class="col-auto">
                            <noindex>
                                <a href="https://www.asaxiy.uz/rss/" target="_blank">
                                    <i class="fas fa-rss"></i>
                                </a>
                            </noindex>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12 col-xl-3">
                <p class="footer__list-title">Виды оплаты</p>

                <div class="row g-3">
                    <div class="col-6 col-sm-4 col-lg-2 col-xl-6">
                        <div class="payment__item d-flex justify-content-center align-items-center">
                            <img data-src="{% static "/custom-assets/images/uzum.png" %}" class="lazyload"
                                 loading="lazy" width="69"
                                 height="20" alt="uzum">
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2 col-xl-6">
                        <div class="payment__item d-flex justify-content-center align-items-center">
                            <img data-src="{% static "/custom-assets/images/payme.png" %}" class="lazyload"
                                 loading="lazy" width="68"
                                 height="20" alt="payme">
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2 col-xl-6">
                        <div class="payment__item d-flex justify-content-center align-items-center">
                            <img data-src="{% static "/custom-assets/images/visa.png" %}" class="lazyload"
                                 loading="lazy" width="62"
                                 height="21" alt="visa">
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2 col-xl-6">
                        <div class="payment__item d-flex justify-content-center align-items-center">
                            <img data-src="{% static "/custom-assets/images/mastercard.png" %}" class="lazyload"
                                 loading="lazy"
                                 width="36" height="28" alt="mastercard">
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2 col-xl-6">
                        <div class="payment__item d-flex justify-content-center align-items-center">
                            <img data-src="{% static "/custom-assets/images/humo.png" %}" class="lazyload"
                                 loading="lazy" width="46"
                                 height="28" alt="humo">
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2 col-xl-6">
                        <div class="payment__item d-flex justify-content-center align-items-center">
                            <img data-src="{% static "/custom-assets/images/uzcard.png" %}" class="lazyload"
                                 loading="lazy" width="21"
                                 height="32" alt="uzcard">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer__copyright pt-4">
            <p class="mb-0">2015-2023 Интернет-магазин asaxiy.uz: Бытовая техника и др. Доставка товаров осуществляется
                во все регионы. Все права защищены.</p>
        </div>
    </div>
</footer>