<footer class="footer ">
    <div class="container">
        <div class="row mb-4">
            <div class="col-lg-6 col-xl-4">
                <div class="footer__list mb-4 mb-lg-0">
                    <p class="footer__list-title">Информация</p>
                    <ul>
                        <li>
                            <a href="https://asaxiy.uz/page/faq">Часто задаваемые вопросы</a>
                        </li>
                        <li>
                            <a href="https://asaxiy.uz/page/delivery-points">Пункты выдачи</a>
                        </li>
                        <li>
                            <a href="https://asaxiy.uz/news">Блог</a>
                        </li>
                        <li>
                            <a href="https://asaxiy.uz/product/brands">Наши бренды</a>
                        </li>
                        <li>
                            <a href="https://asaxiy.uz/page/rules">Публичная оферта (Пользовательское соглашение)</a>
                        </li>
                        <li>
                            <a href="https://asaxiy.uz/page/oferta-rassrochka">Оферта для покупок в рассрочку</a>
                        </li>
                        <li>
                            <a href="https://asaxiy.uz/page/about">О нас</a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-xl-3">
                <div class="footer__list mb-4">
                    <p class="footer__list-title">Для связи</p>
                    <ul>
                        <li>
                            <a onclick="clickToCallGtag()" href="tel:+998 71 200 01 05">
                                <svg width="24" height="24" class="mr-2">
                                    <use xlink:href="/custom-assets/images/a-icons.svg#phone"></use>
                                </svg>
                                +998 71 200 01 05 </a>
                        </li>
                        <li>
                            <a href="mailto:info@asaxiy.uz">
                                <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" class="mr-2">
                                    <use xlink:href="/custom-assets/images/a-icons.svg#mail"></use>
                                </svg>
                                info@asaxiy.uz </a>
                        </li>
                        <li>
                            <a href="index.html#">
                                <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" class="mr-2">
                                    <use xlink:href="/custom-assets/images/a-icons.svg#location"></use>
                                </svg>
                                улица Ислама Каримова, 49, Ташкент </a>
                        </li>
                    </ul>
                </div>

                <div class="footer__list mb-4 mb-lg-0">
                    <p class="footer__list-title">Книжные магазины</p>
                    <ul>
                        <li>
                            <noindex>
                                <a href="https://goo.gl/maps/74gnAL6kdU6oJShU8" target="_blank" rel="nofollow">
                                    <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" class="mr-2">
                                        <use xlink:href="/custom-assets/images/a-icons.svg#location"></use>
                                    </svg>
                                    Asaxiy Novza </a>
                            </noindex>
                        </li>
                        <li>
                            <noindex>
                                <a href="https://goo.gl/maps/stcHQLDNxNoDQdhA6" target="_blank" rel="nofollow">
                                    <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" class="mr-2">
                                        <use xlink:href="/custom-assets/images/a-icons.svg#location"></use>
                                    </svg>
                                    Asaxiy Farhod bozori </a>
                            </noindex>
                        </li>
                        <li>
                            <noindex>
                                <a href="https://goo.gl/maps/AimmZtjPPUKroUDU8" target="_blank" rel="nofollow">
                                    <svg xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" class="mr-2">
                                        <use xlink:href="/custom-assets/images/a-icons.svg#location"></use>
                                    </svg>
                                    Asaxiy Panorama </a>
                            </noindex>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-xl-2">
                <div class="footer__list mb-4">
                    <p class="footer__list-title">Наши достижения</p>
                    <ul>
                        <li>
                            <noindex>

                                <a href="https://kun.uz/uz/news/2019/12/16/tahsin-mukofoti-goliblari-taqdirlandi"
                                   target="_blank" rel="nofollow">
                                    Премия "Tahsin" </a>
                            </noindex>

                        </li>
                        <li>
                            <noindex>

                                <a href="https://kun.uz/uz/40797306" target="_blank" rel="nofollow">
                                    Медаль "Shuhrat" </a>
                            </noindex>

                        </li>
                        <li>
                            <noindex>

                                <a href="https://kun.uz/uz/news/2021/06/30/foto-shavkat-mirziyoyev-faol-yoshlarni-orden-va-medallar-bilan-taqdirladi"
                                   target="_blank" rel="nofollow">
                                    Медаль "Kelajak bunyodkori" </a>
                            </noindex>

                        </li>
                    </ul>
                </div>

                <div class="footer__socials mb-4 mb-lg-0">
                    <p class="footer__list-title">Мы в соц. сетях</p>
                    <ul class="row g-3">
                        <li class="col-auto">
                            <noindex>
                                <a href="https://www.facebook.com/asaxiyshop/" target="_blank" rel="nofollow">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </noindex>
                        </li>
                        <li class="col-auto">
                            <noindex>
                                <a href="https://t.me/asaxiyuz" target="_blank" rel="nofollow">
                                    <i class="fab fa-telegram"></i>
                                </a>
                            </noindex>
                        </li>
                        <li class="col-auto">
                            <noindex>
                                <a href="https://www.instagram.com/asaxiyshop/" target="_blank" rel="nofollow">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </noindex>
                        </li>
                        <li class="col-auto">
                            <noindex>
                                <a href="https://www.youtube.com/channel/UC0UaPm4AlSkAU7U88H8jhhQ" target="_blank"
                                   rel="nofollow">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </noindex>
                        </li>
                        <li class="col-auto">
                            <noindex>
                                <a href="https://www.asaxiy.uz/rss/" target="_blank">
                                    <i class="fas fa-rss"></i>
                                </a>
                            </noindex>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12 col-xl-3">
                <p class="footer__list-title">Виды оплаты</p>

                <div class="row g-3">
                    <div class="col-6 col-sm-4 col-lg-2 col-xl-6">
                        <div class="payment__item d-flex justify-content-center align-items-center">
                            <img data-src="/custom-assets/images/uzum.svg" class="lazyload" loading="lazy" width="69"
                                 height="20" alt="uzum">
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2 col-xl-6">
                        <div class="payment__item d-flex justify-content-center align-items-center">
                            <img data-src="/custom-assets/images/payme.svg" class="lazyload" loading="lazy" width="68"
                                 height="20" alt="payme">
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2 col-xl-6">
                        <div class="payment__item d-flex justify-content-center align-items-center">
                            <img data-src="/custom-assets/images/visa.svg" class="lazyload" loading="lazy" width="62"
                                 height="21" alt="visa">
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2 col-xl-6">
                        <div class="payment__item d-flex justify-content-center align-items-center">
                            <img data-src="/custom-assets/images/mastercard.svg" class="lazyload" loading="lazy"
                                 width="36" height="28" alt="mastercard">
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2 col-xl-6">
                        <div class="payment__item d-flex justify-content-center align-items-center">
                            <img data-src="/custom-assets/images/humo.svg" class="lazyload" loading="lazy" width="46"
                                 height="28" alt="humo">
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2 col-xl-6">
                        <div class="payment__item d-flex justify-content-center align-items-center">
                            <img data-src="/custom-assets/images/uzcard.svg" class="lazyload" loading="lazy" width="21"
                                 height="32" alt="uzcard">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer__copyright pt-4">
            <p class="mb-0">2015-2023 Интернет-магазин asaxiy.uz: Бытовая техника и др. Доставка товаров осуществляется
                во все регионы. Все права защищены.</p>
        </div>
    </div>
</footer>