{% load static categories %}
{% get_main_categories as main_cats %}
<header class="header">
    <div class="header__top position-relative">
        <div class="container">
            <div class="header__top-group">
                <a class="header__logo"
                   href="{% url "details:home" %}">
                    <img class="img-fluid" src="{% static "custom-assets/images/logos/asaxiy-logo.svg" %}"
                         alt="asaxiy logo">
                </a>

                <div class="header__search">
                    <form id="searchForm"
                          action="https://asaxiy.uz/product"
                          class="position-relative form-search">
                        <input id="key"
                               value=""
                               name="key"
                               autocomplete="off"
                               type="text"
                               class="search-input"
                               placeholder="Поиск...">
                        <button type="submit"
                                class="btn btn-primary header__search__btn shadow-none">
                            <img src="{% static "custom-assets/images/search-icon.svg" %}">
                            Искать
                        </button>
                        <div class="instant__results" style="display: none">
                        </div>
                    </form>
                </div>
                <div class="header__top-list">
                    <noindex><a href="https://asaxiy.uz/order-pay" class="header__top__link"
                                title="Оплатить"
                                rel="nofollow">
                        <img class="header__top__link--img"
                             src="{% static "custom-assets/images/icons/header/payment.svg" %}"
                             alt="">
                        <span>Оплатить</span>
                    </a>
                    </noindex>
                    <noindex>
                        <a href="https://asaxiy.uz/order-status" class="header__top__link"
                           title="Отследить заказ"
                           rel="nofollow">
                            <img class="header__top__link--img"
                                 src="{% static "custom-assets/images/icons/header/tracker.svg" %}"
                                 alt="">
                            <span>Отследить</span>
                        </a>
                    </noindex>
                    <a href="https://asaxiy.uz/uz"
                       class="header__top__link header__top__link--lang">
                        <img class="header__top__link--img"
                             src="{% static "custom-assets/images/icons/header/language.svg" %}">
                        <span>O'zbekcha</span>
                    </a>
                    <a class="d-none" id="google_translate_element"></a>

                    <div class="dropdown cart_dropdown">
                        <button type="button"
                                class="header__top__link header__top__link--cart btn h-cart"
                                data-toggle="dropdown">
                            <img class="header__top__link--img"
                                 src="{% static "custom-assets/images/icons/header/cart.svg" %}">
                            <span>Корзинка</span>
                            <span id="cart-count"
                                  class="cart_count">0</span>
                        </button>
                        <div class="cart__modal dropdown-menu dropdown-menu-right">
                            <div class="cart-wrapper">
                                <div id="test-cart" data-pjax-container="" data-pjax-push-state
                                     data-pjax-timeout="1000">
                                    <div class="cart__modal-top">
                                        <ul class="cart__product-list" id="cart-content">
                                        </ul>
                                    </div>
                                </div>
                                <div class="cart__modal-footer">
                                    <div class="cart__modal-total">
                                        <span>Сумма</span>
                                        <span
                                                class="total-count">0 сум</span>
                                    </div><!-- /.cart__modal-total -->
                                </div>
                                <div class="cart__modal-footer">
                                    <div class="cart__modal-total-buttons">
                                        <noindex><a href="https://asaxiy.uz/cart/checkout"
                                                    class="btn default-btn btn-primary-custom"
                                                    rel="nofollow">ОФОРМИТЬ ПОКУПКУ</a>
                                            <a href="https://asaxiy.uz/cart/index"
                                               class="btn reset__btn reset__primary "
                                               rel="nofollow">ПЕРЕЙТИ В КОРЗИНКУ</a>
                                        </noindex>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <noindex>
                        <a href="https://asaxiy.uz/site/favourites" class="header__top__link position-relative"
                           rel="nofollow">
                            <img src="{% static "custom-assets/images/icons/header/heart.svg" %}">
                            <span>Избранное</span>
                            <span id="favourite-count" class="cart_count"
                                  style="right: 24px;">0</span>
                        </a>
                    </noindex>
                    <noindex>
                        <a href="index.html#" class="header__top__link h-avatar" data-toggle="modal"
                           data-target="#profile-modal"
                           title="Кабинет"
                           rel="nofollow">
                            <img src="{% static "custom-assets/images/icons/header/avatar.svg" %}">
                            <span>Кабинет</span>
                        </a>
                    </noindex>
                    <!--                        <a class="header__top__link asaxiy__number" href="tel:+998712000105"><i-->
                    <!--                                    class="fas fa-mobile-alt"></i>+998 71 200 01 05</a>-->

                </div>
            </div>
        </div>
    </div>

    <div class="header__bottom position-relative">
        <div class="container">
            <nav class="header__nav">
                <a class="open__menu header__nav__link" href="javascript:void(0)" onclick="toggleMenu()">
                    <div class="hamburger-small">
                        <div class="hamburger__inner">
                            <div class="hamburger__item"></div>
                            <div class="hamburger__item"></div>
                            <div class="hamburger__item"></div>
                        </div>
                    </div>
                    <span> Все категории</span>
                </a>
                <a class="header__nav__link"
                   href="https://asaxiy.uz/discount/product">Скидки</a>
                <a class="header__nav__link"
                   href="https://asaxiy.uz/product/klimaticheskaya-tehnika/kondicionery">Кондиционеры</a>
                <a class="header__nav__link"
                   href="https://asaxiy.uz/new/product">Новинки</a>
                <a class="header__nav__link"
                   href="https://asaxiy.uz/product/knigi">Книги</a>
                <a class="header__nav__link"
                   href="https://asaxiy.uz/product/telefony-i-gadzhety">Телефоны и гаджеты</a>
                <a class="header__nav__link"
                   href="https://asaxiy.uz/product/kompyutery-i-orgtehnika/noutbuki/noutbuki-2">Ноутбуки</a>
            </nav>
        </div> <!-- container -->

        <!-- mega__menu  -->
        <div class="mega__menu">
            <div class="mega__menu-inner">
                <div class="mega__menu-left">
                    <ul class="mega__menu-list">
                        {% for main_cat in main_cats %}
                            <li>
                                <a href="{% url "details:main_c" main_cat.slug %}"
                                   class="tab-open"
                                   data-id="{{ main_cat.slug }}">
                                    <p style="margin-top: 6%; margin-left: -8%; margin-right: 5%">⤑</p>
                                    {{ main_cat.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div> <!-- mega__menu-left end  -->

                <!-- mega__menu-right  -->
                <div class="mega__menu-right">
                    {% for main_cat in main_cats %}
                        <div class="tab-content {% if main_cat.slug == main_cats.first.slug %}
                        tab-active
                        {% endif %} "
                             data-id="{{ main_cat.slug }}">
                            <div class="mega__menu-right-inner">
                                <div class="mega__menu-content">
                                    {% for cat2 in main_cat|get_second_categories %}
                                        <div class="mega__menu-item">
                                            <a class="menu__item-title"
                                               href="{% url "details:second_c" main_cat.slug cat2.slug %}">{{ cat2.name }}</a>
                                            <div class="mega__menu-item-inner">
                                                <a href="{% url "details:second_c" main_cat.slug cat2.slug %}">Все
                                                    товары</a>
                                                {% for cat3 in cat2|get_child_categories %}
                                                    <a href="{% url "details:third_c" main_cat.slug cat2.slug cat3.slug %}">{{ cat3.name }}</a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div> <!-- mega__menu-right end  -->
            </div> <!-- mega__menu-inner -->
        </div> <!-- mega__menu end -->
    </div> <!-- header bottom  -->
</header>