<div class="sidebar__overlay">
    <div id="sidebar" class="sidebar">
        <div class="sidebar__header">
            <a href="javascript:void(0)" class="btn-toggle">
                <div class="hamburger">
                    <div class="hamburger__inner">
                        <div class="hamburger__item"></div>
                        <div class="hamburger__item"></div>
                        <div class="hamburger__item"></div>
                    </div>
                </div>
            </a>
            <div class="sidebar__logo">
                <a href="index.html">
                    <img class="img-fluid" src="custom-assets/images/logos/asaxiy-logo.svg" alt="image description">
                </a>
            </div>
        </div>
        <div class="sidebar__content">
            <ul class="sidebar__list">
                <li class="sidebar__item">
                    <a href="https://asaxiy.uz/order-pay" class="sidebar__link"
                       title="Оплатить">
                        <img width="28" height="auto" class="header__top__link--img"
                             src="custom-assets/images/icons/header/payment.svg" alt="">
                        <span>Оплатить</span>
                    </a>
                    <a class="sidebar__link" href="https://asaxiy.uz/order-status">
                        <img width="28" height="auto" class="header__top__link--img"
                             src="custom-assets/images/icons/header/tracker.svg" alt="">
                        <span>Отследить заказ</span>
                    </a>
                </li>
                <li class="sidebar__item">
                    <a href="https://asaxiy.uz/site/favourites" class="sidebar__link">
                        <img width="28" height="auto" class="header__top__link--img"
                             src="custom-assets/images/icons/header/heart.svg" alt="">
                        <span>Избранное</span>
                        <span id="favourite-count" class="d-none">0</span>
                    </a>
                </li>
                <li class="sidebar__item">
                    <a href="https://asaxiy.uz/new/product"" class="sidebar__link">
                    <img width="28" height="auto" class="header__top__link--img"
                         src="custom-assets/images/icons/header/icons8-new-product.svg" alt="">
                    <span>Новинки</span>
                    </a>
                </li>
                <li class="sidebar__item">
                    <a href="https://asaxiy.uz/news" class="sidebar__link">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
                             stroke-linejoin="round"
                             stroke-width="2" aria-labelledby="newsIconTitle" color="currentColor" width="24"
                             height="24"
                             viewBox="0 0 24 24">
                            <path d="M22 5v12c0 1.333-.667 2-2 2s-2-.667-2-2V5H2v11c0 2 1 3 3 3h15M6 14h1m4 0h3m-8-4h8"/>
                        </svg>
                        <span>Новости</span>
                    </a>
                </li>
                <li class="sidebar__item">
                    <a href="https://asaxiy.uz/page/about" class="sidebar__link">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                            <path d="M25 2a23 23 0 100 46 23 23 0 000-46zm0 9a3 3 0 110 6 3 3 0 010-6zm4 27h-8v-2h2V23h-2v-2h6v15h2v2z"
                                  fill="currentColor"/>
                        </svg>
                        <span>О нас</span>
                    </a>
                </li>
                <!--<li class="sidebar__item">
                    <a href="#" class="sidebar__link">
                        <svg width="24" height="24" viewBox="0 0 14 18" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M0.646973 2.82353C0.646973 1.71896 1.5424 0.823532 2.64697 0.823532H11.3529C12.4574 0.823532 13.3529 1.71896 13.3529 2.82353V16.8221C13.3529 17.7121 12.2777 18.1587 11.6472 17.5307L7.70557 13.6052C7.31538 13.2166 6.68444 13.2166 6.29425 13.6052L2.35263 17.5307C1.72208 18.1587 0.646973 17.7121 0.646973 16.8221V2.82353Z"
                                  fill="#C2C6D1"/>
                        </svg>

                        <span>Yoqdi</span>
                    </a>
                </li>
                <li class="sidebar__item">
                    <a href="#" class="sidebar__link">
                        <svg width="22" height="21" viewBox="0 0 22 21" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path
                                    d="M11.6121 0.947194L13.9121 7.75679L21.0985 7.83999C21.7169 7.84719 21.9729 8.63519 21.4769 9.00399L15.7113 13.2952L17.8529 20.156C18.0369 20.7464 17.3673 21.2328 16.8625 20.8752L11.0001 16.7176L5.1369 20.8744C4.6329 21.232 3.9625 20.7448 4.1465 20.1552L6.2881 13.2944L0.522497 9.00319C0.0264973 8.63439 0.282497 7.84639 0.900897 7.83919L8.0873 7.75599L10.3873 0.946394C10.5857 0.360794 11.4145 0.360794 11.6121 0.947194Z"
                                    fill="#C2C6D1"/>
                        </svg>
                        <span>ТОП-Предложения</span>
                    </a>
                </li>-->
            </ul>
        </div>
        <div class="sidebar__footer">
            <ul class="sidebar__social-list">
                <li class="sidebar__social-item">
                    <a href="https://instagram.com/asaxiy.uz/" rel="nofollow">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                <li class="sidebar__social-item">
                    <a href="https://t.me/asaxiyuz" rel="nofollow">
                        <i class="fab fa-telegram"></i>
                    </a>
                </li>
                <li class="sidebar__social-item">
                    <a href="https://facebook.com/asaxiyuz/" rel="nofollow">
                        <i class="fab fa-facebook"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>