{% load static %}

<link rel="alternate" hreflang="uz" href="https://asaxiy.uz/uz">
<link rel="apple-touch-icon" sizes="180x180" href="https://asaxiy.uz/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{% static "icons/favicon-32x32.png" %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static "icons/favicon-16x16.png" %}">
<link rel="manifest" href="{% static "icons/site.webmanifest" %}">
<link rel="mask-icon" href="https://asaxiy.uz/icons/safari-pinned-tab.svg" color="#008dff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">
<meta name="robots" content="index,follow"/>
<meta name="keywords"
      content="интернет магазин, узбекистан, ташкент, рассрочка, скидка, Книги, телефоны и гаджеты, бытовая техника, климатическая техника, компьютерная техника, спорт и отдых, товары для дома и офиса, телевизоры, видео и аудио, товары для геймеров, мебель, посуда, красота и здоровье, детские товары, одежда, обувь и аксессуары, игрушки, подарки и аксессуары, автотовары"/>
<meta name="description"
      content="Интернет-магазин Asaxiy — книги, электроника, бытовая техника и многое другое ✔️ Быстрая доставка по Узбекистану ⭐Низкие цены ☝ Широкий ассортимент ⚡ Скидки ⌚ Рассрочка"/>
<script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "WebSite",
            "url": "https://asaxiy.uz/",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "https://asaxiy.uz/product?key={search_term_string}&rs=sitelinks_searchbox",
                "query": "required",
                "query-input": "required name=search_term_string"
            }
        }
    </script>
<script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "url": "https://asaxiy.uz/",
            "name": "https://asaxiy.uz/",
            "image": "https://asaxiy.uz/custom-assets/images/logos/asaxiy-logo.svg",
            "telephone": "+998 71 200 01 05",
            "email": "info@asaxiy.uz",
            "address": {
             "@type": "PostalAddress",
             "streetAddress": "улица Ислама Каримова",
             "addressLocality": "Чиланзар 3",
             "addressRegion": "Ташкент"
              }
       }
</script>
<meta property="fb:app_id" content="533767250863742"/>
<!-- Place favicon.ico in the root directory -->
<script>window.dataLayer = window.dataLayer || [];</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Z4GYM0118P&l=dataLayer"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        window.dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', 'G-Z4GYM0118P');
    // gtag('config', 'G-Z4GYM0118P', { 'debug_mode':true });
</script>
<!-- Google Tag Manager -->
<script>(function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({
        'gtm.start':
            new Date().getTime(), event: 'gtm.js'
    });
    var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
    j.async = true;
    j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
    f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-KVMPPGL');
</script>
<!-- End Google Tag Manager -->
<!-- Yandex.Metrika counter -->
<script type="text/javascript"> (function (m, e, t, r, i, k, a) {
    m[i] = m[i] || function () {
        (m[i].a = m[i].a || []).push(arguments)
    };
    m[i].l = 1 * new Date();
    k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
})(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
ym(56970742, "init", {
    clickmap: true,
    trackLinks: true,
    accurateTrackBounce: true,
    webvisor: true,
    trackHash: true,
    ecommerce: "dataLayer"
});

</script>
<noscript>
    <div><img src="https://mc.yandex.ru/watch/56970742" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript> <!-- /Yandex.Metrika counter -->
<noscript>
    <div><img src="https://mc.yandex.ru/watch/56970742" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>
<!-- /Yandex.Metrika counter -->
<meta property="og:url" content="https://asaxiy.uz">
<meta property="og:type" content="website">
<meta property="og:image" content="https://asaxiy.uz//custom-assets/img/logo/asaxiy-poster.jpg">
<meta property="og:title"
      content="Интернет магазин ASAXIY -  бытовая техники и электроника с доставкой по Ташкенту и Узбекистану">
<meta property="og:description"
      content="Интернет-магазин Asaxiy — книги, электроника, бытовая техника и многое другое ✔️ Быстрая доставка по Узбекистану ⭐Низкие цены ☝ Широкий ассортимент ⚡ Скидки ⌚ Рассрочка">
<meta property="og:keywords"
      content="интернет магазин, узбекистан, ташкент, рассрочка, скидка, Книги, телефоны и гаджеты, бытовая техника, климатическая техника, компьютерная техника, спорт и отдых, товары для дома и офиса, телевизоры, видео и аудио, товары для геймеров, мебель, посуда, красота и здоровье, детские товары, одежда, обувь и аксессуары, игрушки, подарки и аксессуары, автотовары">
<link href="{% static "assets/c/css/solid.min.css" %}" rel="stylesheet">
<link href="{% static "assets/c/css/regular.min.css" %}" rel="stylesheet">
<link href="{% static "assets/c/css/brands.min.css" %}" rel="stylesheet">
<link href="{% static "assets/c/css/fontawesome.min.css" %}" rel="stylesheet">
<link href="{% static "assets/d/css/swiper-bundle.min.css" %}" rel="stylesheet">
<link href="{% static "assets/f/css/jquery.fancybox.min.css" %}" rel="stylesheet">
<link href="{% static "assets/m/css/nice-select.min.css" %}" rel="stylesheet">
<link href="{% static "custom-assets/css/fonts.css" %}" rel="stylesheet">
<link href="{% static "custom-assets/css/bootstrap.css" %}" rel="stylesheet">
<link href="{% static "custom-assets/css/blog.css" %}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&amp;display=swap"
      rel="stylesheet">
<link href="{% static "custom-assets/css/main.css" %}" rel="stylesheet">
<link href="{% static "assets/g/authchoice.css" %}" rel="stylesheet">
<script>var inputmask_a055eecd = {"mask": "[+998](99)999-99-99"};</script>